[2020-02-01 23:50] kedder opened #2 "Porting to yocto/warrior: making XCSoar run"
One of the major issues with XCSoar on current `warrior` branch is inability to rotate the screen to match the device orientation. XCSoar runs under linux framebuffer device and doesn't react to its `DisplayOrientation` configuration option, always running in landscape mode.

Possible solutions I can see:

1. Switch back to old kernel-3.4 with proprietary mali drivers (known-to-work configuration)

[2020-02-01 23:54] kedder commented on #2
So far I have tried option 1:

Kernel 3.4 compiles and boots, but not completely - fails on systemd startup. Apparently systemd requires newer kernel (Linux kernel >= 3.13, according to https://github.com/systemd/systemd/blob/master/README) and will not start. This option would require either downgrading systemd (to some pre 2018 version) or patching it, or switching to systemv init.

None of thes

[2020-02-02 00:00] kedder commented on #2
For option 2: I was trying to play with new "lima" driver and get it working under Xorg. What I was able to do so far is:

1. Make lima kernel module compile and load
2. Build new mesa (19.1.6) with lima driver
3. Start Xorg and start xcsoar on it.

So far xcsoar runs unsatisfactory slow under this configuration and I'm not sure any accelelartion is coming from lima (probably not).

On the positiv

[2020-02-02 13:27] kedder commented on #2
Another way to run XCSoar would be through DRM. XCSoar needs to be compiled with these flags:
[code]

This requires at least kernel with lima driver and mesa with lima driver. Unfortunately so far I couldn't make it work (both kernel and mesa lima drivers present). XCSoar fails to start with this message:

[code]

It seems like we need to make `kmscube` running first to make sure infrastructure ac

[2020-02-03 07:32] kedder commented on #2
Trying to get some help from lima guys on this, started discussion here: https://gitlab.freedesktop.org/lima/mesa/issues/131.

[2020-02-03 20:33] kedder commented on #2
@linuxianer99, can you give me some info about these files in meta-openvario: [0008-cubiescreen_4.19.patch](https://github.com/Openvario/meta-openvario/blob/warrior/recipes-kernel/linux/linux-mainline/0008-cubiescreen_4.19.patch) and [0009-simple-display_4.19.patch](https://github.com/Openvario/meta-openvario/blob/warrior/recipes-kernel/linux/linux-mainline/0009-simple-display_4.19.patch). Where d

[2020-02-03 20:56] linuxianer99 commented on #2
@kedder : These patches came from another developer who tried to bring Mali400 GPU to kernel 4.19. This was all for pyro. The patches where intended for X11 and for framebuffer EGL. I think we can delete them.
The LVDS is setup via DTB file. There is a routing through the video units of A20 defined,

[2020-02-03 21:03] linuxianer99 commented on #2
@kedder , did you have a look at "src/Hardware/RotateDisplay.cpp" ?
There are a some defines like "SOFTWARE_ROTATE_DISPLAY" and "KOBO" (I think KOBO uses also the framebuffer ...

[2020-02-03 21:16] kedder commented on #2
I did look briefly, but it seems that the only place it is defined is in `Features.hpp`:

[code]

It seems like it expects rotation to be done by means of opengl, but TBH I didn't dig very deeply into this.

The trick is that we have to teach sun4i_drm to use the LCD panel so that the whole KMS/DRM system can output into it. Then I would expect we could get something analogous to old mali setup. X

[2020-02-03 21:27] linuxianer99 commented on #2
Maybe you can find some hint here:
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/Documentation/devicetree/bindings/display/sunxi/sun4i-drm.txt?h=v5.5

[2020-02-03 21:38] kedder commented on #2
Yeah, I saw that, but it doesn't make a lot of sense. I don't quite see how to map stuff from old .fex file into that.

Right, but it only seem to work for  simple framebuffer. I'm not completely sure how/why exactly that works, but if I remove simple_framebuffer from the kernel, screen turns all white once kernel takes over the console. So, my guess is that kernel needs to know something about th

[2020-02-03 22:30] kedder commented on #2
Ok, stuff from .fex seem to map nicely here: https://www.kernel.org/doc/Documentation/devicetree/bindings/display/panel/panel-lvds.txt

[2020-02-04 23:12] kedder commented on #2
Ok, I have some progress. I still have no output to the LCD panel, but I have kmscube (and XCSoar) running (but I don't see anything). Did that by constructing the right graphics pipeline in device tree. Now I need to figure out how to make the panel to show something...

[2020-02-06 08:18] kedder commented on #2
It seems like LVDS is explicitly not supported for A20 in the kernel. `sun7i_a20_quirks` in [sun4i_tcon.c, L1456](https://github.com/torvalds/linux/blob/e310396bb8d7db977a0e10ef7b5040e98b89c34c/drivers/gpu/drm/sun4i/sun4i_tcon.c#L1456) doesn't have `supports_lvds` property (compare to `sun8i_a83t_lcd_quirks`), so all LVDS setup is skipped in the tcon driver, no matter how you set up your device tr

[2020-02-07 06:21] kedder commented on #2
Discussion topic is here: https://groups.google.com/forum/#!topic/linux-sunxi/yJyIitJMwNc

[2020-02-07 07:23] mihu-ov commented on #2
Don´t know if this helps or not but from the OV history:

AFAIK the XCSoar display orientation configuration was never used. From https://openvario.org/doku.php?id=projects:series_00:build:setupguide, "_Select System → Settings → Display_Rotation and select your preferred rotation. Reboot your Openvario. Note that this is the only rotation setting that is required, any setting in your XCSoar profi

[2020-02-07 07:57] kedder commented on #2
Right, but that image uses old simple framebuffer device. Kernel is not participating in initializing/driving it in this case - initializing is done by u-boot and just passing memory address mapped to the screen to the kernel. In the image that I have built myself I couldn't make that framebuffer to rotate. Since that is showstopper for me, I went investigating other options. I didn't try 19271 th

[2020-02-07 11:57] linuxianer99 commented on #2
So both statements from above are correct :-)

The images with sunxi kernel and MALI support used a kernel cmd line option to rotate the screen.

The newer images with mainline kernel are using simple FB which is inititalized by uboot and never touched by the kernel. So it is not sure that LVDS is working with kernel modules. On the other hand, the mainline effort matrix (https://linux-sunxi.org/L

[2020-02-07 12:45] kedder commented on #2
I couldn't figure out how to do this. I can rotate the linux console (you accepted the patches for that), but I can't find any knob to rotate the simple-framebuffer.

Yeah, that's the thing. I'm more or less fine with performance aspect too, so simple FB would be fine, even if it eats 40% of cpu. But the rotation aspect is a blocker (I've already cut the hole in my instrument panel :) ). As I unde

[2020-02-07 12:53] kedder commented on #2
So, the only reason I'm so deep into DRM/KMS/LVDS support is that it seems that screen rotation should be possible in that case. OpenGL acceleration is just a nice side-effect we can get from it :)

But don't hold our breath for it: "plaes" from linux-sunxi ML says A20-LVDS support is not there (even though I suspect his data is a bit outdated).

[2020-02-07 13:17] kedder commented on #2
Now that I think about it, I have suspicion that it is not possible. I guess what is happening is the some hardware component on A20 has access to some memory area and it is generating pulses for the screen by reading bits directly from that memory area. Pixel by pixel, line by line, in panel's "natural" orientation. So it basically linearly scans the memory and sends data directly to the panel. "

[2020-02-08 22:06] kedder commented on #2
Who's the man?!

For the first time in history of mankind! Cubieboard 2 with LVDS screen shows a real lima-driver accelerated graphics by `kmscube`!

![IMG_20200208_235803](https://user-images.githubusercontent.com/59499/74092641-906d7680-4acf-11ea-8609-e543df21c5c7.jpg)

[2020-02-08 22:14] mihu-ov commented on #2
Woohoo! Good job kedder!

[2020-02-08 22:15] kedder commented on #2
No, xcsoar doesn't work (starts, but shows a black screen), but that doesn't feel horrible anymore :)

[2020-02-09 11:06] kedder commented on #2
Patch enabling LVDS on A20: https://github.com/torvalds/linux/compare/v5.5...kedder:a20-lvds-support

[2020-02-10 08:36] linuxianer99 commented on #2
Nevertheless great job !!
Think this is a great starting point for futher development !!

[2020-02-11 19:30] kedder commented on #2
Status update: tried to compile xcsoar with different options: mesa/kms, wayland, sdl2, X11. Tried older xcsoar-6.8. Result is the same all the time: xcsoar starts, responds to input, but renders the black screen/window. Have no idea why though, will try to figure it out.

It doesn't look there's a simple way to rotate emulated framebuffer, even when display is driven by the kernel. Didn't look to

[2020-02-15 20:17] kedder commented on #2
Another update: still no much luck. I'm mostly busy getting my patch to mainline, so no much progress with openvario.

One thing I tried though is to get proprietary mali driver back to mainline kernel. I did compile the kernel module and installed binary blobs (see https://github.com/Openvario/meta-openvario/commit/a01c6f39ba5a15044d4867e37cfcb10bf26e04b2). But no, it didn't work. XCSoar fails to

[2020-02-16 17:13] kedder commented on #2
Just discovered that DisplayOrientation xcsoar setting *was* actually the mechanism behind xcsoar rotation. We replaced that setting every time xcsoar was starting (see https://github.com/Openvario/meta-openvario/blob/warrior/recipes-apps/ovmenu-ng-skripts/files/xcsoar_config.sh). So, yes, in a sense the xcsoar config was ignored, because it will be replaced each time xcsoar starts. But it still w

[2020-02-16 18:15] CazYokoyama commented on #2
So, on openvario, display orientation is transferred from /boot/config.uEnv to DisplayOrientation in /root/.xcsoar/openvario.prf. XCSoar displays according to DisplayOrientation. However, XCSoar which draws in frame buffer has no way to rotate drawing. Display rotation is only available on OpenGL.

Your warrior-kms patche enables OpenGL/GLES2, doesn't it? If so, when xcsoar is built with OpenGL=y

[2020-02-16 18:19] kedder commented on #2
Not really. On warrior-kms I only enable DRM drivers for the screen, no changes to the xcsoar yet.

I tried switching xcsoar to opengl (with lima drivers), but it just draws a black screen. It might be a rotated black screen though, but I cannot really confirm that :) Anyways, I'm going to try that again and dig deeper into it.

[2020-02-16 18:33] kedder commented on #2
I've started `warrior-lima` branch with opengl-enabled xcsoar: https://github.com/kedder/meta-openvario/tree/warrior-lima

It adds fairly recent mesa with lima drivers, lima kernel module and xcsoar with `ENABLE_MESA_KMS=y` build parameter enabled. This should be as close as possible to previous mali-based setup, but again, xcsoar draws a black screen at the moment.

[2020-02-20 20:47] kedder commented on #2
Ladies and gentlemen, victory! I've made xcsoar to run under lima, drm, kms, opengl and bunch of other cryptic buzzwords I had no clue about just a month ago. There is still some issue with the font on the front screen, but at least xcsoar seem to show something. Mouse cursor works, keyboard input also works.

![IMG_20200220_222838](https://user-images.githubusercontent.com/59499/74976713-f7751e80

[2020-02-20 21:44] mihu-ov commented on #2
What an achievement, thank you! Could you inform the XCSoar devs about the compiler flag issue just in case this shows up on other platforms as well?

[2020-02-20 21:45] kedder commented on #2
@mihu-ov good idea, I'll post a question to XCSoar ML.

[2020-02-21 09:05] linuxianer99 commented on #2
@kedder: Great work !!
After testing the rotation i think we are ready for a public alpha release  !!

We see the font issue also with FB. There was a fix by Caz
https://github.com/Openvario/meta-openvario/blob/warrior/recipes-apps/xcsoar/files/0001-avoid-tail-cut.patch

[2020-02-21 12:45] linuxianer99 commented on #2
Tested on 7" display:
Lima working !
Also the font error is gone (other resolution then 5,7").

@kedder : May you prepare a pull request ? ;-)

[2020-02-21 12:56] kedder commented on #2
That's great to hear! I actually applied timings blindly without any testing. There is still an issue with 4" screen, we need someone who owns it to help with it. It is likely not LVDS one, so I suspect the same pattern I used for 7" will not work.

Of course! I will post a bunch this evening and over the week-end.

[2020-02-21 16:22] linuxianer99 commented on #2
The 4,3" is RGB. It is my own implementation of the Openvario for gliders with smaller instrument panel.
I think i can do this adaption.

[2020-02-21 17:39] kedder commented on #2
It is not all rainbows and unicorns just yet :)

Screen rotation still doesn't work yet (argh!). Screen with `DisplayOrientation=1` looks like this:

![IMG_20200221_193129](https://user-images.githubusercontent.com/59499/75057164-17175000-54e1-11ea-9db6-d1eb5e644833.jpg)

It kinda tries, but not there yet :/

Also, there are some stability issues. From time to time xcsoar freezes with message from

[2020-02-21 17:47] kedder commented on #2
@linuxianer99, I think it is a matter of making dts file similar to what I did for 5.7" and 7". However panel definitely should *not* have `compatible="panel-lvds"` in it. FWICT, driver will revert to "rgb" mode if it is not "panel-lvds".

[2020-02-21 18:49] kedder commented on #2
Symptoms look similar to this https://gitlab.freedesktop.org/lima/mesa/issues/105. It was fixed 4 months ago, so good chances that newer kernel will fix our problem as well.

[2020-02-22 02:38] CazYokoyama commented on #2
Your intention is "run xcsoar with OpenGL instead of FB", correct? You create 3 branches. Please combine those 3 branches into multiple patches in a single PR. Otherwise, we can't find what you are doing.

[2020-02-22 09:09] kedder commented on #2
@CazYokoyama yes, that is my intention (and the theme of this whole thread). I've split the work into 3 self-contained PRs to make reviewing easier. Wasn't "There are so many files which make reviewer difficult" your complaint in #4?

I'm fine with combining them into one PR if that helps in any way.

[2020-02-22 21:30] kedder commented on #2
Apparently the rotation issue is an XCSoar regression introduced in `v7.0_preview13`. `v7.0_preview12` doesn't have the problem - screen is rotated as expected.

Do you think we can ship `v7.0_preview12` before we figure out the issue upstream?

[2020-02-23 11:54] kedder commented on #2
Newer kernel (5.5.3) doesn't solve the stability issues. Sigh :(

Now with different error in syslog though.

[code]

[2020-02-23 14:46] kedder commented on #2
With mesa-20.0.0, that was released just 4 days ago, I can not reproduce freezes (a.k.a. stability issues) anymore. Also, rendering artifacts on map are gone too. XCsoar runs for 20 minutes without any visible issues.

This all is so bleeding edge though...

Anyways, how do you prefer your PRs cooked? All in one piece or split into semi-independent features?

[2020-02-23 18:02] kedder commented on #2
After I downgraded XCSoar to 7.0-preview12, I have a fully functional openvario with rotated screen:

![IMG_20200223_195905](https://user-images.githubusercontent.com/59499/75117110-42cc3e80-5677-11ea-8b01-15c2bdd89b5f.jpg)

[2020-02-23 18:11] linuxianer99 commented on #2
Great !!
I merged your PRs just a minute ago.

But it is an easy task to create a xcsoar recipe for 7.0-preview12.
Think we can build an alpha release image with this version, can't we ?

[2020-02-23 18:20] kedder commented on #2
@linuxianer99 thanks!

Sure, I'll make a PR with 7.0-preview12 in a moment.

[2020-02-23 19:01] kedder commented on #2
@linuxianer99, I just posted #9. I do not intend to upgrade the kernel just yet: it seems preview12 runs on 5.2-rc2 just fine. Also, the upgraded kernel I made lacks networking support for some reason, so it is not fully ready for release yet.

[2020-02-23 19:04] kedder commented on #2
Well, there's one more problem - default xcsoar profile formatted with DOS line endings and xcsoar start script fails to replace orientation with selected one :) Let's fix this too before release (will do).

[2020-02-23 19:36] kedder commented on #2
@linuxianer99 ok, you can merge #9 (I've added few more fixes there) and do a release! Feel free to test it too :)

[2020-02-24 02:42] hpmax commented on #2
@kedder I apologize in advance for the ignorance of this comment.

I was running the openvario build environment published on openvario.org (old Angstrom release) and wanted to make some updates to sensord, and found it hopelessly broken, to the point that I couldn't get any working executables.  The networking functionality on Angstrom also seemed... flaky.  At someone's urging I attempted to dow

[2020-02-24 07:14] kedder commented on #2
@hpmax, you're right, the old build is not working anymore. We are trying to revive it here.

If you really in hurry, you can try to build the new image we are working on (you'll need to merge #9 manually to make it work ATM, but I really hope @linuxianer99 will merge it soon so you don't have to). We are working on `warrior` branch. Follow the README.md of this repo and after 3-4 hours of compili

[2020-02-24 14:34] hpmax commented on #2
@kedder Sounds like I should wait for @linuxianer99.  I'm glad there is active development going on.  Obviously, the priority should be a stable build environment where things that are supposed to work, do, before additional development occurs.  I was able to build whatever was published here a couple weeks ago, and when I tried it, I experienced what I can only describe as weird screen behavior (

[2020-02-24 15:10] kedder commented on #2
I figured that out literally just yesterday. So building `openvario-image` (with #9 applied) should give a properly rotated UI. But yeah, probably the most sensible thing now is to wait for that to get merged in.

That's probably my next goal too. I have a Ralink RT5370 wifi usb dongle and I want to make sure it works. I have high stakes on wifi connectivity in Openvario. BTW, what was the problem

[2020-02-24 19:41] linuxianer99 commented on #2
@hpmax So the build environment is updated:
https://github.com/Openvario/meta-openvario

It now uses a docker container as well as the repo tool for setting up the sources.
You an give it a try ...

[2020-02-24 19:43] linuxianer99 commented on #2
As XCSOAR works now, think we can close this issue ...
If there are further things please open another issue.

In my opinion it makes no sense to discuss improvements for sensord in the meta-openvario repo

[2020-02-24 19:43] #2 closed

[2020-02-24 19:46] kedder commented on #2
Yeah, this was tough!

[2020-03-01 11:31] kedder opened #11 "Release a preview image"
Image built from current `warrior` branch seems to be stable enough for public testing. Please publish new images and make a public announcement.

@linuxianer99, do you need any assistance with that?

[2020-03-01 18:45] linuxianer99 commented on #11
@kedder : It is just a problem with time ;-)
Let me have a look this week in the evenings.

We have also discuss with @mihu-ov  and Andi where to put these images ..
Either on the "old location" openvario-ftp or here in the github releases.
What do you think is the best location ?

[2020-03-01 19:01] kedder commented on #11
@linuxianer99 understandable :)

WRT location - there is one consideration that comes to mind: it would be nice to keep opkg repository available for users, so they can download additional packages / upgrade without reflashing the SD card. That will probably still require to keep FTP server around. For the images themselves, I don't really have an opinion :) whatever seems easier.

[2020-03-01 19:09] linuxianer99 commented on #11
ok.
So i tried to build an image a few minutes ago. There is a problem with XCSOAR downloading boost at the moment (403). Maybe it works again tomorrow..

[2020-03-01 20:27] mihu-ov commented on #11
Why not have the images in both locations? On the Openvario FTP (our homebase) and github as backup?

Its too early for the Openvario preview image but as I am thinking about it:
XCSoar 7.0 preview 12 is no official release and 1.5yrs old, would it be possible to have the latest official 6.8.x as an alternative?
Also what about Tophat and LX8000, Caz and Bruno had these integrated (at least experi

[2020-03-01 20:43] kedder commented on #11
BTW, it seems like there is only 500 MB of storage available on guthub: https://github.com/pricing. That's about 2 sets of openvario images.

[2020-03-01 20:48] kedder commented on #11
I'd suggest to have these and other forks as downloadable .ipk packages, but afaik these are not building as part of openvario warrior build right now. I've built 6.8 with couple of custom patches while I was investigating graphics problems, so I can get it in, if we want to (I'm personally just fine with preview 12). Didn't try the other forks, but I guess it shouldn't be super-hard.

[2020-03-01 20:58] kedder commented on #11
@linuxianer99 lol, the 403 is not going away tomorrow :) The boost archive was removed from the hosting, see https://fossies.org/linux/misc/boost_1_70_0.tar.bz2

It seems we need to patch it to download https://fossies.org/linux/misc/boost_1_72_0.tar.bz2 instead.

[2020-03-01 21:05] kedder commented on #11
Ok, spoke too soon.  https://fossies.org/ is just a mirror, so maybe the [primary location](https://dl.bintray.com/boostorg/release/1.70.0/source/boost_1_70_0.tar.bz2) will be fixed (the file is still seem to be there)

[2020-03-01 21:32] CazYokoyama commented on #11
My code for LK8000 and Tophat is in branch. I'll push the branch.

For variod audio and XCSoar airspace warning,
1. Kill variod
2. vario data from 4353 instead of 4352, i.e. from sensord.

In addition, I want to have
1. build config.ko which creates /proc/config.gz. It is kernel .config file.
2. build pl2303.ko which is serial-USB converter.

You may use my home PC, www.caztech.com as a download s

[2020-03-02 00:46] CazYokoyama commented on #11
LK8000 and Tophat: tophat_lk8000 branch in git@github.com:CazYokoyama/meta-openvario.git
config.ko and pl2303.ko: IKCONFIG branch in git@github.com:CazYokoyama/meta-openvario.git

[2020-03-02 19:58] linuxianer99 commented on #11
@kedder : The 500MB are just for private repos. We are complete public and open-source. Think this limit will not apply ..

BTW XCSoar build works again ...

[2020-03-03 19:16] iglesiasmarianod opened #12 "Menu not finding USB drive"
Hi guys, I've fixed a misnomer in the Menu scripts to allow file download from OV to USB and added an option to delete all igc stored files.
Also added a Spanish language option to the menu.
Works OK with previous OV buildsystem, now it seems it does not mount USB drives.
If you'd like to have a look to the scripts please, I issued a pull request from my branch.
Let me see if I can figure out why

[2020-03-03 21:10] linuxianer99 commented on #12
The reason for the missing USB drive is a missing auto-mounter in the image. It was not ported up to now to the warrior based image.
We can do this in the future, but i suggest, we will release an preview image now.

In the next release, we can fix the missing things discovered during tests with the image ...

[2020-03-03 21:12] linuxianer99 commented on #11
@kedder: I built two images yesterday evening. Works well. I also had a look for the opkg feed. Implementation is almost finished ... I need some test before release. .. so i am working on it ..

[2020-03-03 21:32] iglesiasmarianod commented on #12
Hi Timo! It's OK for me.
I agree these mods can be included in the future.

[2020-03-06 08:50] kedder commented on #11
Btw, I'm more or less ready to announce this little app I was working on for last couple of weeks: https://github.com/kedder/openvario-compman. The only thing missing is the image to install it on :) So, really looking forward for it!

[2020-03-07 09:54] mihu-ov commented on #11
@kedder: could this be extended to work with Dropbox or similar for the non-competition pilots?

[2020-03-07 17:10] linuxianer99 commented on #11
@kedder: Image is release !
@mihu-ov : I also uploaded to ftp.openvario.org. Can you please write the news ?

@kedder: Also the opkg feed are online. Which packages do you need for your tool ?
I can compile and upload to the feed as well ...

[2020-03-07 17:10] #11 closed

[2020-03-07 19:20] kedder commented on #11
@linuxianer99 That's awesome!

[2020-03-07 19:53] kedder commented on #11
@mihu-ov yes! If not in scope of that particular app, then the other. I'd really like to make programming for openvario more accessible to people, so that it would be easy to implement dropbox integration or syncthing integration or automating flight track delivery or whatever makes your life easier.

There are so many opportunities there! It takes some work to make it simple / easy to make and pu

[2020-03-08 17:15] mihu-ov commented on #11
That´s great, I am travelling but looking forward to testing the image tomorrow evening!

[2020-03-08 22:25] mihu-ov commented on #11
I just could not wait until tomorrow ;-)
This works really well already! My summary (from my notes added below):

- The image boots into XCSoar, OVmenu settings work, rotation works, upload / download works, WiFi dongles work (RT5370 and RTL8188CUS tested)
- USB thumb drive automount missing (there is a pull request from kedder already)
- touch works, but calibration / rotation matrix not activate

[2020-03-08 22:27] mihu-ov commented on #11
@kedder / @linuxianer99
You have done the work so the honor of announcing the new preview image belongs to you!
If you don´t want that I will announce it in the XCSoar forum tomorrow afternoon.

[2020-03-08 22:29] kedder commented on #11
Hm, I have no issues with SSH / SFTP - works out-of-the-box. I do `ssh root@<ip>`.

[2020-03-09 09:47] kedder commented on #11
If you don´t want that I will announce it in the XCSoar forum tomorrow afternoon

@mihu-ov, please do! The more people involved into the project in one way or another the better :)

[2020-03-09 13:18] mihu-ov commented on #11
Done, see https://forum.xcsoar.org/viewtopic.php?f=30&t=3642

[2020-03-09 18:13] kedder opened #16 "Texim 7" display doesn't work"
Users are reporting that 7" Texim display doesn't work with the recent (20067) image.

Apparently 7" Texim has different resolution (800x480) than PixelQi one (1024x600). So devicetree files we provide are obviously wrong. U-boot configuration is also wrong.

We need to pick the right timings from old fex file.

See `recipes-kernel/linux/linux-mainline/openvario-7-CH070.dts`, `recipes-bsp/u-boot/f

[2020-03-09 18:17] kedder opened #17 "Enable touch screen calibration / rotation"
According to @mihu-ov, touch screen calibration and rotation doesn't work in 20067.

[2020-03-09 18:27] kedder opened #18 "Vario sound is broken"
Vario sound is reported to be broken by several users:

This gives an idea how it sounds like: https://drive.google.com/file/d/1qQbzZW6G60sZAgtfYW7ZHiwC8yZA5LGY/view

[2020-03-09 18:30] kedder opened #19 "connman-ncurses not included"
`connman-ncurses` is a friendlier way to configure wifi. It was shipped with the original image, so many users expect it to be present.

The workaround is to use `connmanctl`, the command line version of it.

[2020-03-09 18:34] CazYokoyama commented on #18
I already reported how to fix, didn't I?
-caz

On Mon, Mar 9, 2020 at 11:27 AM Andrey Lebedev <notifications@github.com>
wrote:

--
-caz, caz at caztech dot com, 503-six one zero - five six nine nine(m)

[2020-03-09 18:41] kedder opened #20 "Tophat and LK8000 not included"
Apparently there was an option to run Tophat or LK8000 instead of XCSoar. We only ship XCSoar right now. We might want to ship these, but I'm not sure in which form.

[2020-03-09 18:43] kedder commented on #18
Um, really?  Where can I find it?

[2020-03-09 19:19] kedder commented on #20
@CazYokoyama mentioned there is a branch with Tophat and LK8000:

[2020-03-09 19:22] kedder commented on #18
Some hints from @CazYokoyama (taken from #11):

[2020-03-09 20:13] kedder commented on #16
Testing image to try for 7" Texim users is here: https://www.dropbox.com/s/ahj0s0oel3qqo0z/OpenVario-linux-openvario-image-glibc-ipk-20069-openvario-7-CH070.rootfs.img.gz?dl=0

Please try and report back!

Made from my fork at https://github.com/kedder/meta-openvario/tree/warrior-ch070.

[2020-03-09 20:44] mihu-ov commented on #18
This is the configuration we had before variod with XCSoar providing audio vario. Back then the update rate was 2Hz which was too slow and really annoying. It is much better now but leaves us without volume control over stick remote / .xci file and without STF (speed to fly) audio.

[2020-03-10 07:40] #12 closed

[2020-03-10 07:43] linuxianer99 opened #21 "Add support for 4,3" RGB display"
At the moment the 4,3" RGB is not supported.

- Add display support in DTS file
- Add color swap patch for uboot and kernel

[2020-03-10 07:44] linuxianer99 commented on #20
@CazYokoyama : I am not sure if this builds with the new image. Can you please verify if the recipes still work ??

[2020-03-10 18:16] kedder commented on #19
Looks like `connman-ncurses` doesn't work anymore.

It is not shipped with poky/openembedded layers anymore. The [latest fork](https://gitlab.com/iotbzh/connman-json-client/-/commits/master) I found did not update since 2015, and it cannot be used to connect to wifi anymore. It looks like data format for communication with backend has changed and connman-ncurses doesn't support it. It runs, but pr

[2020-03-11 13:34] kedder commented on #17
The `caltool` that is intended to calibrate touchscreen seems to be broken. It segfaults when started with any `-r` parameter (intended for rotation).

It doesn't run on laptop either: requires root to run and completely hangs, doesn't react to Ctrl-C and requires laptop reboot.

Fixing this requires access to hardware (which I don't posses, unfortunately). @linuxianer99, can you look into this?

[2020-03-11 17:38] #16 closed

[2020-03-11 21:00] linuxianer99 commented on #17
@kedder : Yes, i can do so. But nit before the weekend ...

[2020-03-11 21:02] linuxianer99 opened #23 "Next preview Release"
@kedder : When should we build the next preview release ?
What do you think ??

I will also build an image for CH-070 in this cycle ..

[2020-03-11 21:42] kedder commented on #23
To my understanding, the biggest blocker right now is the audio vario problem (#18), I think we should figure it out before offering new image.

When we solve the touch screen issue (#17), we should be more or less feature-complete, compared to the last stable image (correct me if I'm missing something important).

[2020-03-11 21:47] kedder commented on #18
The noise is indeed coming from `variod`. OTOH xcsoar own audio vario gives nice clear sound. I'll experiment with @CazYokoyama approach, maybe we can increase the update rate to acceptable level (if that's the only issue with it).

[2020-03-11 23:59] CazYokoyama commented on #18
MS5611 -> sensord -> tcp 4353 -> variod +-> tcp 4352 -> xcsoar +
                                                                   |                                    |
                                                                  +----------------------------+-> speaker
As mihu said, the path, tcp 4352 -> xcsoar -> speaker is slow. I analyzed sensord, but not variod. To analyze/debug variod

[2020-03-12 03:55] CazYokoyama commented on #18
Is anyone working for variod? I built debug environment on raspbian. If no one, I will.

[2020-03-12 07:00] kedder commented on #18
@CazYokoyama please do!

BTW, I've found that recent gcc (9.2 in my case) cannot build variod anymore, but it is fixable with this patch:

[code]

[2020-03-12 07:37] linuxianer99 commented on #18
variod was invented by Andreas Wasserbauer. A friend of Michael Huber.
But he is also very short on time.
@CazYokoyama : If you can debug, feel free
@mihu-ov : Think this is ok, isn't it ?

[2020-03-12 07:38] linuxianer99 commented on #18
One other thing:
variod was invented, as XCSoar vario was not very responsive in the past.
Has this changed in the current releases ??

@mihu-ov : If so, we maybe can remove variod as XCSoar vario is good enough ?

[2020-03-12 10:20] mihu-ov commented on #18
Andi has no github account yet but answered on the Redmine, I think he is OK with me copying his reply below. My personal preference (and I am no software developer) would be to keep audio vario in variod even if this causes an additional interface to XCSoar because I think

- vario quality is the first priority
- vario information (sensor data to audio) should be as quick as possible
- in flight

[2020-03-12 11:07] kedder commented on #18
That's awesome news, @mihu-ov!

[2020-03-12 19:29] mihu-ov opened #24 "Include nano editor"
I know that real Linux pros use vim but for the average user trying to modify config files nano would be much easier to use. We had it in the old image but it is not included in 20067.

[2020-03-12 19:38] mihu-ov opened #25 "SFTP access not working in image 20067"
SSH access works (tested with Bitvise SSH and Windows Power Shell) but I get no SFTP access.
Error message is

root@192.168.1.206's password:
sh: /usr/libexec/sftp-server: No such file or directory
Received message too long 2037998963

[2020-03-12 19:40] mihu-ov commented on #23
It would be good to have automount (already done?), nano editor and SFTP access in the next image to make it better usable for non-IT savvy users. I have opened issues for these.

[2020-03-12 19:55] kedder commented on #23
Yeah, automount is there already. Thanks for filing those!

[2020-03-12 20:21] kedder commented on #25
I wonder what the advantages of `sftp` over `scp` for us?

[2020-03-12 21:00] mihu-ov commented on #25
I have no technical answer but think anything that has a graphical front end that looks like Windows Explorer will do ;-)
Probably some users use https://www.bitvise.com/ssh-client because it was mentioned in the setup instructions so it would be good (but not required) if this could still be used with the new image.

[2020-03-12 21:30] kedder opened #27 "Default password for root"
Right now, as @mihu-ov pointed out, there is no password for root user in default image.

I expect many users will enable wifi on their openvarios. Having internet-facing device with unprotected root access is probably not the brightest of ideas (if we don't want openvarios to accidentally start mining bitcoins or something like that).

Should we set it to something hardcoded, like `openvario` for

[2020-03-12 23:20] mihu-ov commented on #25
Thank you kedder!

[2020-03-13 11:25] brunotl opened #28 ""re-run" bitbake failed"
using linuxianer99/ovbuild docker container to build image, each time i try to re-run build i got a the same error :
`ERROR: ExpansionError during parsing /workdir/poky/meta-openvario/recipes-apps/variod/variod-testing_git.bb`

full error Traceback -> [build-error.txt](https://github.com/Openvario/meta-openvario/files/4329236/build-error.txt)

[2020-03-13 12:10] linuxianer99 commented on #28
How did you start the container ?

As mentioned in the guide ?
Can you please provide a "ip addr" output of the host system and from inside the container?
Seems there is a DNS problem with your docker ...

[2020-03-13 12:12] linuxianer99 commented on #27
Hmmm ... but the WLAN should just be connected for updates, right ?
I think WLAN should be disabled by default ...

[2020-03-13 12:13] #24 closed

[2020-03-13 12:13] #25 closed

[2020-03-13 12:20] mihu-ov commented on #27
WLAN is the first thing I enable when testing an image and with kedders new Competition Manager app (maybe extended for non competition syncing with Dropbox or similar in the future) it will be used by many pilots.

[2020-03-13 12:27] kedder commented on #27
Well, WLAN is not enabled until you connect your own USB dongle and configure it with `connmanctl`. So it is of course not the issue for plain out-of-the-box installations. But I suspect most of the users would not realize they become vulnerable as soon as they connect to the Internet, so we can just make sure they are not completely unprotected in that case.

[2020-03-13 12:45] kedder commented on #28
Yeah, the last line of the seem to be the culprit:
[code]

Failure is dure to `SRCPV` variable substitution. I found this on the internets:

So, it couldn't get revision from github -> could not generate value of `SRCPV`  -> could not make a substitutions in a recipe.

Check if github works for you now.

[2020-03-13 13:34] brunotl commented on #28
looking the error the first check i did is to ping 'github.com'  -> no problem

if i remove build directory i can build image a second time, but it's to long i can't do that all the time ...

### all about my work env :

host version
[code]
docker version
[code]
host ip
[code]
cmd line to run docker container
[code]
container version
[code]
container ip
[code]
within container i'm able to ping git

[2020-03-13 13:44] brunotl commented on #28
I've also checked the container git config, nothing wrong inside :

[code]

[2020-03-13 15:04] brunotl commented on #28
same problem if i run build directly on the host ...

[2020-03-13 15:50] kedder commented on #28
So, let's get to the basics: can you do this in your container:

[code]

[2020-03-13 16:03] brunotl commented on #28
no surprise that work perfectly ...  otherwise, a clean build would failed too ...

[code]

[2020-03-13 16:21] kedder commented on #28
Okay. So you still getting this name resolution error every time you run `bitbake variod-testing`?

Here's few things to try:

[code]

if doesn't help, try changing git url in `SRC_URI` in `meta-openvario/recipes-apps/variod/variod-testing_git.bb` to use https protocol: `git://github.com/Openvario/variod.git;protocol=https`

[2020-03-13 20:30] mihu-ov opened #29 "No ttyUSBx devices created for USB to serial converters but many useless tty* devices existent"
I have tested four different USB to serial converters with image 20067 and found some issues.

1) The first USB2serial that is plugged in an USB hub is shown by lsusb command, a second one is not shown until the first one is removed.
2) Dmesg shows that the devices are enumerated but no device drivers are loaded and no ttyUSBx devices are created (even for the first device listed by lsusb).
3) ls

[2020-03-13 20:37] kedder commented on #29
@mihu-ov can you find out what drivers are needed for USB2Serial devices you have? You can check that by inserting these devices to some linux laptop (if you have one). The device type should be visible in syslog.

I suspect some drivers are missing in kernel. I also received complaints about very similar issue by email.

[2020-03-13 20:53] mihu-ov commented on #29
@kedder: I have tested FT232, CP2102, PL2303, HL-340

[2020-03-13 20:57] kedder commented on #29
Or: provide `lsusb` output on the device.

Anyway, I can repro this myself. At least my CH340G device is not recognized properly (due to missing kernel module). Let's see, maybe I can just enable all of them...

[2020-03-13 21:06] CazYokoyama commented on #29
I pointed the branch which enables PL2303. I am successfully feeding GPS
information through PL2303.
-caz

On Fri, Mar 13, 2020 at 1:58 PM Andrey Lebedev <notifications@github.com>
wrote:

--
-caz, caz at caztech dot com, 503-six one zero - five six nine nine(m)

[2020-03-13 23:01] kedder opened #31 "Idea: file synchronization"
Everybody knows dropbox and it is great for file synchronization across devices. However it has several drawbacks:

* It is a commercial project, and will probably not allow us to redistribute its binaries
* These days they only allow 3 synchronized devices per account on a free plan
* Only allow to sync one folder: `~/Dropbox`

There's a better alternative though: [syncthing](https://syncthing.ne

[2020-03-14 01:28] CazYokoyama commented on #31
That is a nice idea. At morning meeting, we heard today's task. I many
times enter the task into my Android phone and again enter to my glide
computer, Tophat. So
Who will implement it?
Which release of openvario will it be included?
-caz

On Fri, Mar 13, 2020 at 4:02 PM Andrey Lebedev <notifications@github.com>
wrote:

--
-caz, caz at caztech dot com, 503-six one zero - five six nine nine(m)

[2020-03-14 07:40] Scumi commented on #31
What about NextCloud? I would prefer this one, since it is also open source and would therefor fit nicely for the openvario. I made some tries with that 2 years ago, but my initial approach failed probably due to the missing battery powered RTC in the openvario.

[2020-03-14 09:33] kedder commented on #31
I can make an attempt.There will obviously be some challenges to "productize" it (like not syncing and running xcsoar at the same time, because xcsoar would not pick up config/task changes while running). But idea of not having to enter tasks with knobs or remote stick sounds very seductive to me.

TBH I haven't heard of it before. I briefly looked at it and it looks like a client-server app and c

[2020-03-14 11:07] DanD222 commented on #29
@mihu-ov Please also note that ttys4 can come in handy if you want to modify the script.bin file in order to be able to connect four hardware devices to OpenVario, see: https://forum.xcsoar.org/viewtopic.php?f=30&t=3437

[2020-03-14 12:17] #29 closed

[2020-03-14 17:10] mihu-ov commented on #31
Sounds all good, would this work in a club environment with different users?

[2020-03-14 17:31] kedder commented on #31
Well, in club environment, where gliders are shared, the use case where openvario is synched with users' phones would probably not be very useful. In that case it would probably be better to set up a club computer to synchronize with all the openvarios on club gliders to automatically receive flight logs.

[2020-03-15 16:53] kedder commented on #31
Ok, I've made #33 that would create installable package for `syncthing` (but not include it into the image itself). It is installable with

[code]

Syncthing comes with web UI, available under `http://<openvarioip:8384`. We can experiment with it and find the best way to use it.

[2020-03-15 19:25] kedder commented on #31
It works darn well I must tell you. The only gotcha I came across so far is you don't want to run xcsoar on both synchronized devices simultaneously, because one of them will override the profile of the other eventually.

Otherwise I can enter task on my phone and it gets installed in xcsoar on openvario :)

[2020-03-15 20:24] kedder commented on #28
@brunotl did you figure it out?

[2020-03-16 11:09] Scumi commented on #31
For my part, I'm not familiar at all with Dropbox. However, if I understand it correctly, both work roughly the same. Both are a client/server application, meaning you need only the client on the Openvario for them to work. For Nextcloud, even only webdav (i.e. the linux application _dav2fs_) should work.
I might have a look into your syncthing package, maybe it can be extended to work with Nextcl

[2020-03-16 11:17] kedder commented on #31
AFAIU, as soon as you get internet up, the time gets synchronized with NTP. But while you are not, I suspect you'lld get the wrong time everywhere. How these sync systems behave in these conditions is to be determined. I just don't know if it will be sane or not.

[2020-03-16 11:50] Scumi commented on #31
To be tested, agreed. I did some research and syncthing is not working with nextcloud. However, nextcloud-client package offers a commandline interface. Will try to add a recipe for this, but I might need some help with that. Also I hope it doesn't install all graphic components as well, then its way bigger than required for our needs.

[2020-03-16 17:12] kedder opened #35 "Drop support for XCSoar 7.0-preview12"
Since https://github.com/XCSoar/XCSoar/pull/363 with the fix by @roeles got merged into XCSoar mainline, there is no reason to ship XCSoar 7.0-preview12 anymore. Screen rotation should work on most recent XCSoar master.

This basically means that `openvario-image` and `openvario-image-testing` becoming identical.

With that in mind, what do you think would be the most sensible way to deal with it:

[2020-03-16 21:50] mihu-ov commented on #35
OV is making it into more and more cockpits and gliding clubs so in the long run I think it would be good to have a stable openvario-image for the users and bleeding edge openvario-image-testing for developers with newest syncthings, XCSoar mainline etc.

[2020-03-16 21:53] CazYokoyama commented on #35
No need to consider Skysight integration. Its PR is dropped.
-caz

On Mon, Mar 16, 2020 at 2:50 PM mihu-ov <notifications@github.com> wrote:

--
-caz, caz at caztech dot com, 503-six one zero - five six nine nine(m)

[2020-03-16 22:02] kedder commented on #35
@mihu-ov I agree, though I'm leaning towards 3 - it should be easy enough to upgrade from stable image to testing/bleeding edge software with `opkg` and we would have to ship 4 images instead of 8.

[2020-03-16 22:04] kedder commented on #35
@CazYokoyama ah, that's too bad :(

[2020-03-16 22:11] brunotl commented on #28
need to be confirmed, but it seem's that happen only when it run inside ssd session....

[2020-03-17 14:53] brunotl commented on #28
confirmed, that happen only inside ssh session.

i've found workaround :  runing inside tmux ...

[2020-03-17 14:53] #28 closed

[2020-03-17 17:48] linuxianer99 commented on #35
there is a lot more difference from openvario-image to openvario-image-testing:

sensord and variod are also in testing version.

So i would prefer to stay with the stable and testing variant.
I am working on an automatic CI with github.
Releasing 4 or 8 images is just a more build time ...

[2020-03-17 17:53] kedder commented on #35
Ok, let's settle on option 2 then.

[2020-03-17 19:28] mihu-ov commented on #35
Can we merge the different LCD variants into one image and select device tree, resolution etc. with a config file? Years ago we thought about having a permanent data partition with user data and settings and a system partition which is updated with a new image when available.

[2020-03-17 20:17] kedder commented on #35
So, right now, AFAIU, the difference between images is this:

* U-boot is compiled with screen-specific configuration to init screen early
* Set of resolution-specific splash-screen images for u-boot
* Device-tree file with screen-specific resolution and timings

All of it is stored on /boot partition. The rest is absolutely identical among all variants.

We could probably ship common and screen-s

[2020-03-18 09:05] #35 closed

[2020-03-18 23:46] iglesiasmarianod opened #38 "openvario-image fails to build"
I've built openvario-image-testing and the previous version of the openvario-image.
Now openvario-image-testing builds but the latest version of XCSoar fails to compile.
Error states:

[code]
Using Debian Stretch 9.12.

[2020-03-19 10:03] kedder commented on #38
Hm. I cannot repro this. Does it still fails when you clean and rebuild xcsoar:

[code]

[2020-03-19 16:44] iglesiasmarianod commented on #38
No, keeps failing.
I've set up my buildsystem as Timo suggested in redmine.
Perhaps my mistake is there.

[code]
Are you using the same versions?

[2020-03-19 17:18] kedder commented on #38
The new "official" build system is described in the README here: https://github.com/Openvario/meta-openvario/blob/warrior/README.md. But I don't think this is the issue.

Can you do this:

[code]

It will open new terminal. In that terminal, show the output of this:
[code]

[2020-03-19 17:34] iglesiasmarianod commented on #38
Output for echo$CC

[code]
Output for $CC --version

[code]
output for which $CC
[code]

[2020-03-19 17:49] kedder commented on #38
Hm. Everything seem to be right.

I suspect that xcsoar build uses wrong compiler somehow, but can't really check it myself. Unfortunately I accidentally updated poky warrior branch and bitbake now wants to rebuild the world. So I'll only have working environment tomorrow.

[2020-03-19 17:54] iglesiasmarianod commented on #38
There's no hurry @kedder.
I'll keep looking in case I can figure out what's wrong.

[2020-03-19 19:04] Scumi commented on #31
I am not able to compile the recipe. It needs QtKeychain and Qt 5.x.x, which are not available in the build environment as it seems. I don't know if it would be easy or not to add them.

[2020-03-19 19:18] kedder commented on #31
I think it won't be able to run on linux without graphical environment if it needs QT to compile

[2020-03-19 19:23] Scumi commented on #31
It contains a command line client (https://docs.nextcloud.com/desktop/2.6/advancedusage.html#nextcloud-command-line-client), so it should be able to run. It just seems the command line client cannot be compiled separately.

[2020-03-20 11:12] #31 closed

[2020-03-20 20:56] kedder commented on #38
@iglesiasmarianod TBH, I'm almost out of ideas. `-fmacro-prefix-map` is a GCC8 flag. However bitbake builds its own compiler (gcc-8.3). I suspect earlier gcc is used in your case but why and how is it even possible? I don't know.

You can try opening devshell (`bitbake xcsoar -c devshell`) and building it manually with verbose mode:

[code]

It will show you exactly what command (and what compiler

[2020-03-20 23:22] iglesiasmarianod commented on #38
@kedder I think my host compiler might have someting to do with it.
I was thinking about a fresh start with Debian 10.
Here's the log from the commands you sent me. It's GCC-6.

[log.txt](https://github.com/Openvario/meta-openvario/files/4362092/log.txt)

[2020-03-21 07:58] bomilkar commented on #16
Hi kedder, just tested your image OpenVario-linux-openvario-image-glibc-ipk-20069-openvario-7-CH070.rootfs.img.gz.
Scaling seems to be off, at least for me. See attached pictures.
I verified the H/W with an old image (a copy of SDcard from my glider). This works as expected.
![p0](https://user-images.githubusercontent.com/20871255/77222259-098dce00-6b52-11ea-9734-0aae93b0c7dd.jpg)
![p1](https://us

[2020-03-21 08:03] kedder commented on #16
@bomilkar can you double-check the image you have used? My image comes with xcsoar 7.0-preview12, not preview14 on your screenshots.

[2020-03-21 08:26] bomilkar commented on #16
You are right. I must have screwed up writing the SDcard. The 2nd partition must have survived from a previous test. Your hint with "preview14" made me think ...
Now it works as expected. Thanks!

[2020-03-21 09:34] kedder commented on #38
Ok, this is useful. apparently `HOSTCXX` is set to your OS g++, not the compiled one. I guess this is wrong.

BTW, you don't have to upgrade your OS in order to build the Openvario. You can use docker setup described in the Readme.md.

[2020-03-21 16:14] iglesiasmarianod commented on #38
Problem Solved.
Updated GCC and G++ to 8.4 in my host system and XCSoar compiled.
Thanks @kedder

[2020-03-21 16:14] #38 closed

[2020-03-22 21:11] kedder commented on #18
Status update for anyone following this: Andreas Wasserbauer started working on porting variod to pulse audio. This will allow us to fix the sound output and also support mixing vario output with XCSoar own events (e.g. airspace warnings).

 Andreas doesn't have github account and was posting updates on openvario redmine server (http://www.openvario.org/redmine/boards/3/topics/1773). Unfortunately

[2020-03-22 21:59] mihu-ov commented on #18
Andi is the Redmine admin, I have contacted him by mail as it is too late to call him.

[2020-03-23 08:26] bomilkar opened #39 "scale font size for InfoBoxes"
The font in the InfoBoxes, particularly the label and the comment are awfully small.
I've been looking around in the source but can't find anything.
The font scaling on the map window works as expected.
Does anybody have an idea??
![p4](https://user-images.githubusercontent.com/20871255/77296518-17755780-6ce8-11ea-9250-483d3f45f6e8.jpg)

BTW: a screenshot function would be so nice. ;-)

[2020-03-23 08:39] bomilkar opened #40 "fixed malformed POV,C, sentences"
Heads up.
Please inspect this PR:
https://github.com/XCSoar/XCSoar/pull/367

I fixed sentences for POV,C,WL and POV,C,BU and I hope I didn't break anything.

[2020-03-23 09:22] kedder commented on #40
Thanks @bomilkar! It will be included in the next -testing image.

[2020-03-23 09:25] kedder commented on #39
I've found that "DPI" setting in XCSoar system configuration affects the size of these labels. It is on the same configuration page as font size setting, but only available in XCSoar-7.

[2020-03-23 12:03] bomilkar commented on #40
It's already there. I "repo sync" it this morning an the binary has it.
Works like a charm. My vario is happy!

[2020-03-23 12:07] linuxianer99 commented on #40
will be included in next testing image

[2020-03-23 12:07] #40 closed

[2020-03-23 13:20] mihu-ov commented on #39
On the old image I coped the framebuffer content to a file (over ssh) and converted that file to some standard graphics format to take screenshots. Maybe kedder can advise on how to take screenshots for the new image?

[2020-03-23 14:52] bomilkar commented on #39
The DPI setting has no effect on the font sizes in the InfoBoxes. It affects the map window, but that's not what I'm looking for.
Unfortunately.

[2020-03-23 20:39] kedder commented on #39
@bomilkar you're right, DPI setting doesn't affect infobox labels. So I'm not sure there's even a knob for that. It looks like the size of the font depends on the size of infobox - the more space infobox has the larger the font is. So if you have 4 infoboxes in a row, the text will be bigger than if you have 6 infoboxes.

WRT to screenshots - it is tricky as well - framebuffer is not used to draw

[2020-03-24 07:42] bomilkar commented on #39
Yes @kedder you are right the font inside the InfoBox scales with the available space. I suspect the function AutoSizeFont in Look/AutoFont.cpp being used in Look/InfoBoxLook.cpp does exactly this for several fonts being used. But I can't figure out, where it gets the fonts from. Can you please look into this? You've been dealing with the graphics stuff. Right?
Maybe we can pick a different font t

[2020-03-24 14:45] bomilkar opened #41 "polar string being sent twice per second"
Now that I have a GPS source connected to the test H/W I notice that polar strings are being sent out twice per second. This is how it looks like when I tap the TX line:
`<15:28:01> $POV,C,RPO,0.002916,-0.176400,3.422314*51
<15:28:01> $POV,C,IPO,0.003168,-0.176400,3.150000*4C
<15:28:01> $POV,C,RPO,0.002916,-0.176400,3.422314*51
<15:28:01> $POV,C,IPO,0.003168,-0.176400,3.150000*4C
<15:28:02> $POV,C

[2020-03-24 15:07] kedder commented on #41
Can you give an idea what this polar NMEA string is useful for? Why is it being sent at all?

[2020-03-24 15:19] linuxianer99 commented on #41
The polar is used for calculation in the variod.
@mihu-ov : What exactly is done in variod ??

What exactly is the problem if the NMEA string is send twice a second ?

[2020-03-24 15:22] bomilkar commented on #41
@kedder  The connected vario needs it to calculate speed to fly.
The (real) polar changes with the ballast, the bugs, an the glider. So it does change, but rarely.

@linuxianer99 it creates unnecessary traffic between processes or over the serial port.

[2020-03-24 15:33] linuxianer99 commented on #41
so, the polar should be sent every time the bugs as well as the ballast changes.
Also it should be send out when the system boots, so variod has a change to get the polar data.

As far as i know, there is no other way than this "OnCalculatedUpdate" function. (Thats the reason i implemented it in that way)
Maybe it can be limited be sent out every 10th update or so, but than there is a delay in pol

[2020-03-24 15:40] kedder commented on #41
Hm, probably the more robust and economical approach would be for variod to request the polar via some special NMEA message when it needs it, and XCSoar to send it when it changes (e.g. when bugs / ballast / MC is changed).

Not sure how involving this change would be though.

[2020-03-24 15:44] linuxianer99 commented on #41
You are right, there is of course room for improvement ...
But i think we should focus on the core problems (screen cal, vario sound, etc.) for the moment, shouldn't we ?

We can file this as improvement ...

[2020-03-24 15:45] kedder commented on #41
@linuxianer99 I agree

[2020-03-24 15:46] linuxianer99 commented on #41
👍

[2020-03-24 15:48] linuxianer99 opened #42 "Automated CI for image release"
- Use github actions to trigger a build on pushed tag
- Create automated release notes based on tags/milestones
- Do a matrix build for all screen size and testing/stable images
- Publish all artifacts in github repo

[2020-03-24 16:18] bomilkar commented on #41
I suggest I fix it in XCSoar. And since nobody here seem to know a better trigger for the update, I do it the quick and dirty way:
inside OnCalculatedUpdate I check if the polar coefficients have changed. If so it generates the output.
Maybe Max knows how else this should be done. Otherwise he'll merges it as is.
Agreed?

[2020-03-24 16:34] kedder commented on #41
@bomilkar then the risk is that variod will never get the first message (e.g. if it gets restarted while in flight).  In general that approach will only work if variod is listening when this initial polar string is sent.

[2020-03-24 17:10] linuxianer99 commented on #41
@bomilkar : I also suggest not to change it at the moment.
There is no known error at the moment. I see it as an improvement, but not as an urgent bug.

[2020-03-24 19:04] bomilkar commented on #41
@kedder you are right: there is an issue if variod isn't listening while XCSoar starts.
As you suggested earlier it would need a query command which variod sends when it starts (or otherwise needs a refresh).
I'll put the issue aside.

[2020-03-24 19:23] mihu-ov commented on #41
@bomilkar Can you please check how this is done in other drivers. The Vaulter driver should be state of the art and probably syncs any changes in bugs, water etc. in XCSoar to the external vario. Let´s not re-invent the wheel and do it the same way?

[2020-03-24 21:49] kedder commented on #18
I've included pulseaudio server into the image in my branch here: https://github.com/kedder/meta-openvario/tree/warrior-pulseaudio

We can use it as soon as variod is ported to pulseaudio.

[2020-03-25 07:11] bomilkar commented on #41
@mihu-ov will do. Good idea!
We call it design re-use. ;-)

[2020-03-28 10:42] bomilkar commented on #41
Who knows the ins and outs of variod ? I'd like to discuss possible solutions to the issue at hand and I want to make sure variod is in the loop.

[2020-03-28 13:07] kedder commented on #41
AFAIK the author of variod is Andreas Wasserbauer, he can be contacted via the redmine (apparently he doesn't have github account).

He is working on porting variod to pulseaudio to fix the audio output, but I haven't heard from him for the past 2 weeks: https://www.openvario.org/redmine/boards/3/topics/1773

[2020-04-01 18:46] kedder commented on #18
So I was playing with variod, ported to pulsaudio, that Andreas sent me (pushed it to [my fork](https://github.com/kedder/variod/tree/pulseaudio), if anyone is interested).

And it seems like we were barking at the wrong tree this whole time.

Jittering sound is still there.

However, after closing investigation (I've stopped variod service and ran it in foreground with `/opt/bin/variod -d -f`), i

[2020-04-01 18:58] kedder commented on #18
Here's the output of sensord that is run in foreground:

[code]

These errors are probably from the fact that I don't have any sensors connected.

[2020-04-02 07:06] linuxianer99 commented on #18
Hmmm ... This is a good point !
This maybe the reason, not everybody has this problem ...
My openvario variod works fine here on my desk .. but i have sensors connected ..

I will hav a look at sensord tomorrow. Adding some detection at the start or something like this ...

[2020-04-02 07:32] mihu-ov commented on #18
Unless for testing using variod without pressure sensors is pretty pointless, isn´t it?
If we have packages for pulseaudio and variod or an image for PQ070 display I can test (with sensorboard) in the evening.

[2020-04-02 08:18] kedder commented on #18
I've uploaded packages to my PPA. If anyone wants to try it out, you can do this:

[code]

and restart the openvario. Next time it loads, you can run `alsamixer`, that should show the single volume bar - that's how you make sure pulseaudio is running.

I'll play with it a bit more today evening too.

[2020-04-02 09:44] mihu-ov commented on #18
[code]

[2020-04-02 09:49] kedder commented on #18
@mihu-ov that means pulseaudio server is not running

[2020-04-02 10:20] kedder commented on #18
@mihu-ov Oh, I remembered now. You have to do this:

[code]

and restart the device. This will be incorporated into the image with pulseaudio, but if you install server manually, you have to do that.

[2020-04-02 10:21] mihu-ov commented on #18
Thank you kedder, variod is beeping on my desk now and alsamixer shows the single volume bar. I got a bit confused as there were actually two beep tones coming from the speaker but I had XCSoar audio vario turned on as well, so variod and XCSoar audio really go together now!
I need to start variod manually but this is something I may have broken on my OV.

Looks good! (And I need to go back to wor

[2020-04-02 10:24] kedder commented on #18
Oh, that's a great news! I'll make a PR this evening.

Yeah, same here :)

[2020-04-02 10:25] mihu-ov commented on #18
OK, after newgrp - audio autostart works again. Great news indeed!

[2020-04-02 19:40] kedder commented on #18
Ok, so I learned something about the issue:

If I replace sensord with simple `telnet localhost 4353`, I get clear tone of about 700Hz out of my speaker. As soon as real `sensord` starts, sound gets corrupted. "Monitor" view in XCSoar devices screen shows a wall of repeated messages:

[code]

Again, I don't have any sensor hardware. I need someone with the hardware to check if it really works. I'l

[2020-04-02 20:23] kedder commented on #18
@mihu-ov, please test this image with real sensors:

https://www.dropbox.com/s/emw5qi63ve73mfw/OpenVario-linux-openvario-image-testing-glibc-ipk-20093-openvario-7-PQ070.rootfs.pulseaudio.img.gz?dl=0

That's an image for PQ070 display (I'm assuming you've got that one) and pulseaudio-enabled variod.

You should hear the nice vario once xcsoar starts, that should react to pressure changes on the sen

[2020-04-02 21:16] kedder commented on #18
Wow :)

Please also check the responsiveness. How quickly does it react to pressure changes? That's something I'm not very confident about. Would it be possible to compare this aspect with the old image?

[2020-04-02 21:36] mihu-ov commented on #18
I don´t think we can test responsiveness on pressure sensor data easily (even with an avionics test set). As we have changed variod only maybe we could generate a data file, replay it with sensord, record the speaker output and compare the two files?
Do we have to expect any additional delays due to pulseaudio or the new variod update method?

[2020-04-02 21:49] kedder commented on #18
On old variod the vario tone was recalculated each 100ms. On the new variod the tone is calculated when pulseaudio sound buffer is exhausted. I'm not sure how big that buffer is and whether it will make any difference in terms of responsiveness. I don't expect hard numbers here, only if new version "feels laggy" or not.

[2020-04-05 21:50] DanD222 commented on #39
@bomilkar I’m probably not the right person to answer this, but I see some differences in the master branch of _src/Look/InfoBoxLook.cpp_, compared to the v6.8 branch (see _void
InfoBoxLook::ReinitialiseLayout_)

https://github.com/XCSoar/XCSoar/blob/master/src/Look/InfoBoxLook.cpp

https://github.com/XCSoar/XCSoar/blob/v6.8.x/src/Look/InfoBoxLook.cpp

Could be worth investigating?

[2020-04-06 07:12] bomilkar commented on #39
Thanks @DanD222 , I'll look into this.

[2020-04-06 07:30] mihu-ov commented on #39
This is not OV specific and was discussed many times in XCSoar forum, e.g.
https://forum.xcsoar.org/viewtopic.php?f=7&t=2140
https://forum.xcsoar.org/viewtopic.php?f=19&t=2899
https://forum.xcsoar.org/viewtopic.php?f=7&t=3206

[2020-04-06 14:13] bomilkar commented on #41
To address this enhancement I have posted a Pull Request one week ago. Nothing seem to happen:
https://github.com/XCSoar/XCSoar/pull/370

I see a few ways forward:
1. I keep waiting
2. I close the XCSoar PR and this Issue here, delete the branch and keep it as my private add on.
3. you guys chime in on the discussion on the XCSoar PR, maybe Max is waiting for your OK.

In essence, the most importa

[2020-04-06 16:42] kedder commented on #41
@bomilkar I just posted a code review. It looks good to me in general.

The frequency in which Max returns to reviewing PRs is unknown to me, so we just have to wait. I waited for 8 months for mine to be merged, but I guess it is not indicative :). I think we can get it in faster :)

[2020-04-06 16:44] DanD222 commented on #39
Reading the forum, it seems that the problem was with the font size selection system, yet it also seems that users are unhappy with the infobox title font size being too small in v7.

How about increasing the infobox title font size in v7 so that is in line with what it currently is in v6.8, without having a font size selection system?

It might also be worthwhile to test whether the 15 character

[2020-04-06 17:53] bomilkar commented on #39
The effect is less annoying in landscape orientation. This has to do with the aspect ratio of the InfoBoxes. I tried to change that (https://github.com/XCSoar/XCSoar/pull/327) but it didn't fly so I pulled back. I introduced the 10-InfoBox layouts (PR 324) which alleviates the issue by a bit because it produces wider info boxes.
The culprit is probably in InfoBoxLook::ReinitialiseLayout(unsigned w

[2020-04-06 18:33] kedder commented on #39
This seems to be the reason why we have it this way: https://forum.xcsoar.org/viewtopic.php?f=7&t=2140&start=15#p11450

We probably can increase the size for for openvario specifically (with the custom patch), but then I guess we'll start getting bug reports that some text doesn't fit...

[2020-04-07 06:47] mihu-ov commented on #39
Frankly, I think this discussion is XCSoar specific, was started in XCSoar forum and on XCSoar github a few times and should be continued there.
As Ronald wrote, this is an issue for many users of XCSoar 7.0 previews and should be addressed. But I really believe addressing this in XCSoar (not in Openvario) is the only solution in the long run or we will end up with two different XCSoar flavors whi

[2020-04-07 08:48] bomilkar commented on #39
I agree with Michael: XCSoar is the place to discuss the issue and ultimately fix it.
However, I was trying to build a lobby to put more weight behind this issue. My assumption is, that 7.0 is mostly used by the (small) openvario user community. The majority flies with 6.8 and for them it's a mute point. I'm sure the issue will escalate as soon as 7.0 becomes the main release. We can wait until th

[2020-04-07 18:22] kedder commented on #19
I don't think anyone is working on this so I'm closing this issue.

Providing `connman-ncurses` requires resurrecting and taking over the maintenance of that project, which is out of scope for OpenVario.

[2020-04-07 18:22] #19 closed

[2020-04-07 18:37] kedder commented on #39
It looks like there is no objections from anyone for having an option in XCSoar to scale infobox label size. And it doesn't look like a rocket science to multiply a value, calculated by `AutoSizeFont`, by some coefficient, read from xcsoar profile.

It just takes a volunteer to actually do this.

[2020-04-07 18:58] kedder opened #48 "Language switching doesn't work"
XCSoar langauge stays English after changing it through Openvario menu (and restarting the system, as suggested). Tested on openvario-image-testing.

Issue is reported on redmine by Dirk Jung: https://www.openvario.org/redmine/boards/3/topics/1829

[2020-04-08 08:06] bomilkar commented on #39
I can pick it up, unless somebody feels strongly about it. Please note: I've failed with something similar: https://github.com/XCSoar/XCSoar/pull/327 . So I recommend you read Max' comments in this PR before we dive in here. And I really request your support on it since I don't want to fail (again) alone.

A fully automated solution (without yet another parameter in the setup) would be best. I gue

[2020-04-08 11:58] bomilkar commented on #39
Here is my first shot at it.
It scales title and comment depending on the length of the text to be printed. It has 2 options: a small font which fits 15 chars and a "normal" font which fits 10 chars.
You can see the effect side by side. On the left is the scaled font, on the right is the original 7.0 font size.
![auto_scaling_title_comment](https://user-images.githubusercontent.com/20871255/787816

[2020-04-08 15:34] bomilkar commented on #39
Here is another screenshot with 480x800 format, which is what at least the 7" Texim display uses.
![auto_scaling_title_comment_480x800](https://user-images.githubusercontent.com/20871255/78803362-3568da80-79bf-11ea-8381-43d4e7cea85f.JPG)

[2020-04-08 16:37] kedder commented on #39
Can I offer you some critique? :) (not meant to discourage you in any way)

From the pure aesthetic point of view, I'd prefer the right version. Because of inconsistent font sizes the left one looks less tidy to me.

The readability benefits are also not so apparent: most of labels that we can make bigger and more readable are static, meaning that you don't really read them all the time. You learn

[2020-04-08 17:53] bomilkar commented on #39
No worries, I appreciate the discussion and critique.
I agree: it is not pretty, but what other option do you see. This approach uses bigger font where possible. Maybe the difference between small and normal font is too big?
And if you look closely: the values use different font sizes already.
Keep in mind: the more info boxes you have the less readable is the small font. For me 8 info boxes is no

[2020-04-08 18:01] kedder commented on #39
I'd personally would probably prefer a setting in a profile to scale label font size 100%-150% and would probably pick 110 or 105% myself.

BTW, I like 10 box layout and use it myself in my OV (because 8 is too little and 12 is too many).

[2020-04-09 08:43] bomilkar commented on #39
Yet another approach to improve readability of IB title and comment: Make the IBs wider. And in order to have enough IBs create a layout with 3 rows of 4 IBs. That would be beneficial for tall slim screens, like 7" Texim in portrait orientation. The font would increase by 5/4 (125%) over a 2 rows by 5 layout. And on a tall screen (480x800) a third row might be an acceptable trade off.
Thoughts?

[2020-04-09 08:51] kedder commented on #23
@linuxianer99 #45 is ready, I think we can cut a release once we merge it.

[2020-04-09 11:49] kedder commented on #39
I agree, this might be another possible solution.

[2020-04-10 10:00] #18 closed

[2020-04-10 10:02] linuxianer99 commented on #23
@kedder : OK. #45 is merged.
I will trigger a release build this weekend.

At the moment, only testing image builds correctly. the stable image has a problem with xcsoar 6.8. think this is a compiler thing as gcc is to new for xcsoar 6.8.

[2020-04-10 10:09] kedder commented on #23
@linuxianer99 Sounds good! I'll check out xcsoar 6.8.

Btw, Max had to revert our screen rotation fix, so -testing image will be broken right now as well. I have submitted PR with the updated fix (https://github.com/XCSoar/XCSoar/pull/373), but it is not merged yet. That's something that would block the release too. We might need to pin the xcsoar-testing to last known good commit, or apply the pa

[2020-04-10 16:33] kedder commented on #23
@linuxianer99 what compilation errors for xcsoar did you get? I have tried right now and it compiled just fine.

Nevertheless I've upgraded it to the latest version (6.8.13b) and also applied the rotation fix, see #49.

[2020-04-12 12:36] bomilkar commented on #39
I've just created 2 PRs in XCSoar:

https://github.com/XCSoar/XCSoar/pull/375
12 box layout 4 boxes by 3 rows

https://github.com/XCSoar/XCSoar/pull/376
scalable InfoBox title and comment

I think this is the most flexible solution for this issue.
The "adapting InfoBox title font" has the advantage of not needing a setup parameter, but it's not as flexible. That's why I ruled it out.

[2020-04-12 12:37] bomilkar commented on #39
![12box_15](https://user-images.githubusercontent.com/20871255/79068998-17ef8580-7ccb-11ea-9bfd-71d3f64fe9b1.JPG)
This is the 3x4 layout with 100% InfoBox title size.

[2020-04-12 13:47] #48 closed

[2020-04-13 08:32] bomilkar commented on #41
I re-implemented the changes in a single commit in this PR:
https://github.com/XCSoar/XCSoar/pull/378
Hoping this will be approved and merged soon.

[2020-04-13 10:18] kedder commented on #41
@bomilkar, cool! Usually you just force-push to old branch instead of starting new PR though. Otherwise you lose all the comments and reviews of old PR.  That's fine though, just keep it the way it is now.

[2020-04-16 20:35] linuxianer99 commented on #23
@kedder : XCSoar error is

`|   HOSTCXX output/host/tools/GenerateSineTables.o
| g++: error: unrecognized command line option ‘-fmacro-prefix-map=/workdir/poky/build/tmp/work/armv7vet2hf-neon-ovlinux-linux-gnueabi/xcsoar/6.8.13b-r0=/usr/src/debug/xcsoar/6.8.13b-r0’
| build/host.mk:23: recipe for target 'output/host/tools/GenerateSineTables.o' failed
|`

Seems a problem with the host g++ compiler w

[2020-04-16 20:46] kedder commented on #23
Oh, I remember someone had the same error and it was resolved by upgrading debian one version up. For some reason xcsoar uses HOSTCXX, which points to native compiler of the host operating system, and it needs uses `-fmacro-prefix-map` argument which is implemented first in GCC-8.

I have these versions on my environment:

[code]

`$CXX` is the compiler built by yocto, and `g++` is compiler from m

[2020-04-16 20:59] CazYokoyama commented on #23
It seems you are not using the latest LTS, 18.04 bionic beaver. Please show
your /etc/os-release.

No, I can't build openvario anymore since a couple of month ago.
 -caz

On Thu, Apr 16, 2020 at 1:46 PM Andrey Lebedev <notifications@github.com>
wrote:

--
-caz, caz at caztech dot com, 503-six one zero - five six nine nine(m)

[2020-04-16 21:09] kedder commented on #23
I'm on 20.04 right now, but was on 19.10 a week before.

[2020-04-17 07:01] linuxianer99 commented on #23
@CazYokoyama 👍
/etc/os-release:

pokyuser@2d19c9ec6a87:/workdir$ more /etc/os-release
NAME="Ubuntu"
VERSION="18.04.3 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.3 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-

[2020-04-17 15:35] CazYokoyama commented on #23
Tim,
I am using similar one.
VERSION="18.04.4 LTS (Bionic Beaver)"

Its default g++ are 7.4.0 as follow.
caz@ov-ubuntu18:~$ apt list | grep ^g++ | grep installed
g++/bionic-updates,bionic-security,now 4:7.4.0-1ubuntu2.3 amd64 [installed]
g++-7/bionic-updates,bionic-security,now 7.5.0-3ubuntu1~18.04 amd64
[installed,automatic]
g++-8/bionic-updates,bionic-security,now 8.4.0-1ubuntu1~18.04 amd64
[ins

[2020-04-17 15:44] kedder commented on #23
The problem is that 'warrior' yocto prepares compiler flags in environment variables for gcc it provides (8.3.0). These env vars gets used by `$HOSTCXX` while building xcsoar. If host gcc does not understand compiler flags provided by those yocto env vars, build fails.

It is not ideal that xcsoar build uses host gcc (even though the use is limited to few files), but upgrading the docker image see

[2020-04-17 16:07] linuxianer99 commented on #23
so ... build is working...

CROPS (Container for Yocto build) uses only LTS versions. So 18.04 is current at the moment. 20.04 is not available for CROPS right now. But nevertheless i installed gcc 8.4 in our build container.

Everything seems to build now, but not finished yet ;-)
If both builds will pass (testing and stable) i will tag the repo and start the release process ...

[2020-04-17 16:08] linuxianer99 commented on #23
@kedder  should we merge pull request #37  for the image ??

[2020-04-17 16:17] kedder commented on #23
@linuxianer99 sounds good!

Yes, let's do that. That seems like a good feature.

[2020-04-20 21:15] iglesiasmarianod opened #51 "STF and Vario mode change not reliable."
Hi guys, I've compiled the latest versions of Warrior and tested them in my OV.
Both images compiled.
OV image still has the sound issue in my case.
Don't know what may I be doing wrong. Perhaps it's version of Variod is not updated to pulseaudio?
OV testing sound is working OK with a few quirks I've noticed.
Changing between STF and Vario mode seems rather random.  You need to press several times

[2020-04-20 21:30] kedder commented on #51
`openvario-image` was not updated to use pulseaudio yet, because I considered pulseaudio as something untested. But since soundsimply doesn't work under "stable" variod, I guess we should just enable pulseaudio on stable image too.

WRT STF/Vario switch, I also experienced some quirks, namely sometimes sound just disappeared when I pressed S/V repeatedly several times. But now I'm thinking maybe I

[2020-04-20 21:54] iglesiasmarianod commented on #51
Hi @kedder !
OK with variod in ov-image. Just thought I was doing something wrong.
If you don't have sensors connected (or uncalibrated board) as IAS is not there you get a high pitched fast pulsed beeping sound just like you were circling a 10 m/s thermal.
The same happens to the vario sound, you get 99 m/s climb so beeping is fast and high pitched.
Sometimes the IAS calibration gets lost from se

[2020-04-20 22:12] kedder commented on #51
We need to ensure two things:

1. NMEA sentence for STF switch is actually being sent by XCSoar
2. It is received and properly parsed by variod

We can probably use netcat (`nc`) to mock xcsoar and monitor communications.

[2020-04-21 14:51] iglesiasmarianod commented on #51
I logged the communication but can't see commands being sent.
They are sent directly by .xci file and monitor only reproduces incoming messages.
Don't know if this will be a problem when event files support ends to be replaced by LUA scripting.
I found a communication error in the xcsoar log file.

[xcsoar.log](https://github.com/Openvario/meta-openvario/files/4510697/xcsoar.log)

It repeats const

[2020-04-21 15:05] kedder commented on #51
I have also seen these constant re-connections. This might be the root of the problem.

[2020-04-22 21:00] iglesiasmarianod commented on #51
Found variod.log. It shows the same disconnections and reconnections as XCSoar log.
I suspect variod is ending the connection somehow. I started looking inside variod code.
Here's the log I extracted from my device. Variod debug level is 1.

[variod.log](https://github.com/Openvario/meta-openvario/files/4518992/variod.log)

[2020-04-23 00:47] iglesiasmarianod commented on #51
Think something fishy is going on with this message send.
Audio does not stop even with XCSoar offline and this "break" terminates the while loop leading to the connection dropped message.
I'll try to log the send result to see if this is the the reason for disconnection.

[code]

[2020-04-23 11:32] bomilkar opened #53 "variod not doing what the documentatio says"
The documentation
https://www.openvario.org/doku.php?id=projects:series_00:software:nmea
says POV,C,RPO and POV,C,IPO are used to send polar information from XCSoar to variod.
Looking at the C-code, nmea_parser.c in particular it is looking for POV,C,POL
This is inconsistent with the documentation and - even worse - XCSoar never sent a POV,C,POL sentence. XCSoar always sent POV,C,RPO and POV,C,IPO

[2020-04-24 09:03] bomilkar commented on #53
After having thought about it for a while I'll go ahead and prepare some changes for a PR:
1. make variod's protocol consistent wit XCSoar's
2. use values which XCSoar can readily supply
3. keep the POV,C,POL (as much as possible) as undocumented feature to keep backward compatibility

[2020-04-24 09:17] kedder commented on #53
@bomilkar I agree, we should change the variod to support `IPO` and/or `RPO`, whatever is relevant to it.

[2020-04-24 11:47] bomilkar commented on #51
Did anybody find the issue behind the continuous connection drop?

[code]
I don't have any sensors in my test setup. Maybe this is the reason why it looses connection?

[2020-04-24 11:54] kedder commented on #51
If I'm not mistaking @iglesiasmarianod is seeing the same behavior with sensors.

[2020-04-24 12:09] bomilkar commented on #51
Instead of variod I use nc:

[code]
This is what XCSoar says when I change wing load, bugs, etc. That looks very reasonable. Exactly what I expected.

Now I want to see how the other direction works:
Stop XCSoar and start "nc -l 127.0.0.1 4352" instead.
Unfortunately the busybox version of nc doesn't support "-l" option.
Hmmmm.

However, there is something interesting:
I start variod and it says:

[2020-04-24 13:46] linuxianer99 opened #54 "Update variod to 0.3.1 in stable image"

[2020-04-24 13:47] linuxianer99 commented on #54
Done

[2020-04-24 13:47] #54 closed

[2020-04-24 16:09] linuxianer99 commented on #23
Done ! Released ...

[2020-04-24 16:09] #23 closed

[2020-04-24 18:51] kedder commented on #51
I have a suspecion that it is xcsoar that is responsible for these disconnections. I see the same behavior if I connect xcsoar directly to sensord (TCP port 4353 instead of 4352).

[2020-04-24 19:00] kedder opened #55 "Packages file is missing for openvario_57_lvds opkg feed"
When I do `opkg update`, I get error:

[code]

This happens because `Packages.gz` file is missing from http://ftp.openvario.org/feed-warrior/openvario_57_lvds.

Please provide that file.

[2020-04-24 19:02] kedder opened #56 "No opkg feed for openvario_7_CH070 variant"
opkg feed for `openvario_7_CH070` variant is missing https://ftp.openvario.org/feed-warrior/. This will result in errors when trying to use opkg on this openvario flavor.

Please upload respective packages to the server.

[2020-04-24 19:13] iglesiasmarianod commented on #51
Saw the same behaviuor with sensord.
If it where XCSoar, going back to preview 10 would solve the problem. ¿Don't you think?

[2020-04-24 19:27] kedder commented on #51
Hm, you mean preview 10 doesn't have this issue?  Going back that far would probably not be an option - there are bunch of features in newer xcsoar that people would like to have.

It should be possible to narrow it down and fix it in xcsoar (if that is really xcsoar at fault).

[2020-04-24 19:32] iglesiasmarianod commented on #51
Sorry if I expressed myself the wrong way.
On the old build systen OV7 preview 10 was used. Sensord and Variod were the same as before pulseaudio and everything worked as a charm.
Just to confirm or rule out XCSoar as the source of the problem I was thinking on trying my old preview 10 .ipk. If it worked, the problem was a change in xcsoar. If it did not work, the problem is either variod/sensord

[2020-04-24 20:04] kedder commented on #51
@iglesiasmarianod, ah that makes sense. Another thing to try would be the stable xcsoar (6.8.13) from the `openvario-image`  image.

[2020-04-24 20:32] bomilkar commented on #51
Port 4353 is used between sensord and variod, sensord being Client.
Port 4352 is used between XCSoar and variod, XCSoar being Server.

As you can see on my previous comment the communication on 4352 looks OK.

I wrote a dummy for sensord to supply some meaningful data on port 4353 and everything suddenly seem to work. I'm working on a debian 10 environment which makes it easier to debug. It may no

[2020-04-24 21:12] iglesiasmarianod commented on #51
Just tested the stable release in my OV (6.8.13).
Same disconnection/connection sequence in Variod.log
As a curious thing, this reconnects make the debug button in the devices screen flicker from grey to black.
In the old versions sound muted when XCSoar ended.
The fact that sound does not mute now leads me to believe the problem is in the Variod side or the OS side given the fact that XCSoar is n

[2020-04-25 05:24] DanD222 commented on #51
Not sure if this helps in any way, but I found this post on the forum: https://forum.xcsoar.org/viewtopic.php?f=30&t=3642&start=45#p20860

_"That´s what variod is supposed to do. It starts beeping when XCSoar starts but keeps beeping even if you quit XCSoar. In case of a XCSoar crash you would still have audio vario, keep climbing and restart later."_

[2020-04-25 06:32] bomilkar commented on #51
I have it running on my test bench on Debian 10:
Latest XCSoar with OpenVario driver on TCP port 4352
variod with some fixes (wip I'll commit and push later today)
sensord mock up (attached). Just a few lines to produce POV sentences on the socket.
variod must run before sensord_mock

[sensord_mock.c.txt](https://github.com/Openvario/meta-openvario/files/4532482/sensord_mock.c.txt)
gcc -o sensord_

[2020-04-25 09:01] kedder commented on #23
@mihu-ov, can you do the announcement on the forum?

[2020-04-25 12:07] bomilkar commented on #51
Created https://github.com/Openvario/variod/pull/4
This is probably not the final version, but at least I didn't get Segmentation Faults any more. :-)
And it is compliant with what it gets from XCSoar (and the documentation).

[2020-04-25 12:14] linuxianer99 commented on #56
upload done ..
@kedder : please check again

[2020-04-25 12:15] linuxianer99 commented on #55
upload done ..
@kedder : please check again

[2020-04-25 12:41] kedder commented on #56
@linuxianer99 the dir is on ftp in the right location, but it is missing `Packages` and `Packages.gz` files, so `opkg` cannot use them. These files can be generated with bitbake:

[code]

Then the `Packages` files will be generated in `tmp/deploy/ipk/openvario_7_CH070/`

[2020-04-25 12:42] kedder commented on #55
Same problem as in #56, no `Packages` package index in  http://ftp.openvario.org/feed-warrior/openvario_57_lvds. Do this before upload:

[code]

[2020-04-25 13:44] linuxianer99 commented on #56
sorry. i did the index only for PQ070 ...
give me a few minutes ...

[2020-04-25 15:05] linuxianer99 commented on #56
done.
Please try again ..

[2020-04-25 15:13] kedder commented on #56
Awesome! It works now!

[2020-04-25 15:13] #56 closed

[2020-04-25 15:14] kedder commented on #55
It works now, closing, thanks!

[2020-04-25 15:14] #55 closed

[2020-04-26 16:27] mihu-ov commented on #23
Done, https://forum.xcsoar.org/viewtopic.php?f=30&t=3669
Thank you guys!

[2020-04-26 17:03] iglesiasmarianod commented on #51
Tested XCsoar preview 12 with variod-testing in warrior.
This preview works OK in Armstrong and is the one I'm currently using in my OV.
Same disconnections occur in Warrior with this version.

[2020-04-26 18:38] OBrown92 opened #57 "Vario not un/muteable"
Hello,
first of all, big respect to the development done in the last few weeks. I'am really happy to see new progress for the openvario and can hopefully get in to it soon. Also I like that all of this is now happening on Github. I installed the new image to a 7" stefly OV yesterday and it's working fine, but I get some problems with the vario sound.
We mute the vario and then it wasn't possible t

[2020-04-27 06:59] bomilkar commented on #57
It might be an issue in nmea__parser.c  of variod. Can you please look into the code to see if that is the case? There are several commands all starting with the letter 'V'.
I'm working at it. Should be done in a few days.

[2020-04-27 08:41] OBrown92 commented on #57
Thanks, I will try this evening. But I'm really new in the ov development, so I will need some time to get in to it. I just saw, the issue is already in the 'known issues' of the 20115 release. So if this ticket is unnecessary feel free to close it.

[2020-04-27 08:44] kedder commented on #57
It is known, but wasn't registered on github yet, so let's close it when the issue is fixed.

[2020-04-27 08:46] kedder opened #58 "USB tethering doesn't work"
According to @mihu-ov,

Top

[2020-04-27 11:23] bomilkar commented on #57
@OBrown92, which

are you referring to?

[2020-04-27 11:34] OBrown92 commented on #57
That the unmute function isn't working. In the releases here on Github is this not mentioned but I saw later that it is in the forum.

[2020-04-27 11:36] kedder commented on #57
@bomilkar it is from the release announcement, https://forum.xcsoar.org/viewtopic.php?f=30&t=3669

[2020-04-27 14:15] bomilkar commented on #57
It's still not clear to me which way you are trying to mute/unmute ?
Do you mean the "VOLUME ON/OFF" button from the openvario.xci (the F1 menue) ?
XCSoar sends the  "POV,C,VM" command to variod, which it decodes and calls "toggle_mute();".
That works in the new variod . I can see it in /variod.log . (Sorry, have no sound on this machine.)

[2020-04-27 15:00] OBrown92 commented on #57
Exactly this isn't working for me.

[2020-04-27 19:24] iglesiasmarianod commented on #57
Hi, there's a problem with Variod receiving messages from Xcsoar. If you insist repeatedly you may fund sometimes it works.
Has to do with the way variod creates and destroys sockets leading to command loss.
I'm working on a proposed solution in the Variod repo. Openvario/Variod#6.
Same happens with STF and Vario Commands. With this change things seem to improve but it's not fully tested yet.

[2020-04-27 19:53] bomilkar commented on #57
@OBrown92 can you send us the log file "variod.log", It's probably at / .

[2020-04-28 00:01] iglesiasmarianod commented on #57
Tested the modified variod in my OpenVario.
Communications works OK except the volume toggle function.
STF, VAR, Volume Up, Volume Down, MC up, MC dn, work OK from XCSoar.
Checked .xci file and seems OK. SendNMEAPort1 sentences work except for mute/unmute.
I conclude from this observation that communication works.
Just took a quick look at audiovario.c.
Mute and Unmute work OK from variod. Sound s

[2020-04-28 07:02] bomilkar commented on #57
@iglesiasmarianod do you see this in the log file?
debug_print("Toggle Mute\n");
And is this consistent with what you see from:
ddebug_print("Message from XCSoar: %s\n",client_message);

I've see issues with this, which I believe I have fixed in https://github.com/Openvario/variod/pull/4 : 1. split what is received from XCSoar into single NMEA sentences, and make nmea_parser more robust.

[2020-04-28 09:28] bomilkar commented on #57
I can confirm: mute, unmute, volume up, volume down, work with the changes in https://github.com/Openvario/variod/pull/4
Not only I see it in variod.log, but also hear it from the connected speaker.
Case closed.

[2020-04-28 12:14] OBrown92 commented on #57
Hi again,
great work.
@bomilkar, I don't have the logs, cause I read this too late. But seems to work now anyway or? If I should try to get them, feel free to get back to me.

[2020-04-28 16:01] #58 closed

[2020-04-28 16:13] iglesiasmarianod commented on #51
Merged fix in Variod

[2020-04-28 16:13] #51 closed

[2020-04-28 16:26] bomilkar commented on #57
It works for me on my test system. This is a Texim 7" with the 20115 image with the fixed variod and a sensord mock-up to provide sensor data w/o the need for sensors.
No need for logs anymore. Thanks!

[2020-04-29 19:06] kedder opened #60 "System information view is not populated"
Openvario menu has "system information" view (System -> Information) that has missing data right now.  We need to either remove data that is not relevevant anymore or populate the values.

![image](https://user-images.githubusercontent.com/59499/80636082-8a9b8780-8a65-11ea-8295-1d8f0147a1ca.png)

[2020-05-03 20:14] SashLi commented on #17
Is there any new information to this issue ?

[2020-05-05 09:08] kedder opened #62 "USB U-Blox GPS receiver is not detected"
Dan Meyer aka LibelleDriver wrote on [forum](https://forum.xcsoar.org/viewtopic.php?f=30&t=3669&p=20987#p20979):

`lsusb` gives the following output:

[code]

It seems `CONFIG_USB_ACM` is missing in kernel build config.

[2020-05-05 09:09] kedder commented on #62
Unfortunately I can't assign the issue to myself, but I'll work on this.

[2020-05-05 19:43] #62 closed

[2020-05-07 11:21] linuxianer99 commented on #53
@bomilkar : Should we extend the POV,C command with the "?" command ?
Like POV,C,?,BU,MC,WL ??

Think this makes more sense that open another command structure beside Value pair and commands ??

[2020-05-07 13:02] bomilkar commented on #53
@linuxianer99 : all POV,C, sentences go from XCSoar to variod. POV,C,?, would be the only exception to go the opposite direction. I think this might confuse thing more than it helps.

[2020-05-07 16:44] linuxianer99 commented on #53
OK. That's also a valid argument.
@mihu-ov : What's your opinion ? see above

[2020-05-10 09:53] phorward opened #64 "Simplify creation of USB thumb drive"
Hi there!

Thank you for creating this great hard- and software combination! A friend bought an openvario from SteFly and I helped him to get it working properly, especially with the software, and also that was the reason why I also bought a used one for myself now ;-)

Anyways, the creation of the USB thumb drive for file up-/download as described [here](https://www.openvario.org/doku.php?id=proj

[2020-05-10 17:03] linuxianer99 commented on #64
So what are the difficulties with formatting an USB Stick with FAT 32 and create some folders ?

The advantage of "manual" creation is, that the stick can used also for other things, as it will not be formatted every time ;-) That was the reason for this approach.

Feel free to provide some code for that ... but please follow the [Contrib Rules](https://github.com/Openvario/meta-openvario/wiki/Cod

[2020-05-11 00:52] hpmax opened #65 "Vario Audio"
I'm hearing an intermittent warble in my audio.  In fact, there appears to be a few different types of warble.  I'm running kedder's test release, the problem is not in my "original" version.

https://drive.google.com/file/d/1FsxFNGcUYk_g-gh0v_DCaI--quW0yQlE/view?usp=sharing

[2020-05-11 15:01] phorward commented on #64
Hi, its only for the usability, especially for users who are not hackers or experienced computer users (even with Windows).

That's exactly what this issue is meant to be. The idea is to provide a tool directly from the device that is capable to format a USB device in the way it is required by OpenVario to be used.

Wilco :+1:

[2020-05-12 20:24] brunotl opened #66 "update from usbstick"
in warrior branch opkg config to update from usbstick is missing

[2020-05-12 20:41] kedder commented on #66
Makes sense, I can fix this.

[2020-05-12 21:50] linuxianer99 commented on #17
@kedder : the caltool used before is very fragile.
Maybe we can use tslib https://github.com/libts/tslib/blob/master/README.md#setup-and-configure-tslib instead ?
There is a possibility to emulate a "calibrated touch" via uinput in linux kernel.
Do you know if it is possible to set the input device XCSoar is using ?

[2020-05-13 18:13] kedder commented on #17
@linuxianer99, I've never dealt with touchscreens before, so it is hard to say.  I'm not even sure what mechanisms/apis are involved in reading the touchscreen input. I can see tslib is included in `meta-oe`, so it should be easy to build it. But again, since I don't have the touchscreen hardware, I can't test it.

[2020-05-13 19:04] linuxianer99 commented on #17
I compiled tslib yesterday evening.
Installation worked fine but i need uinput kernel module. So i have to compile a new kernel for testing.

The only thing is, don't know if i can tell XCSoar to use the /dev/uinput instead of /dev/input/eventx ... We will see ;-)

[2020-05-13 21:27] marulidu commented on #17
Just completed installation of new touchscreen unit and come across this issue since screen is installed at portrait, 270 orientation. Cursor stays at upper edge despite of touch area. Extremely disappointing. Touch feature became totally useless. I could be more then happy to contribute to software testing.

[2020-05-16 18:00] #60 closed

[2020-05-16 18:01] #66 closed

[2020-05-18 08:11] bomilkar opened #71 "OpenVario freezes in flight"
In 2 of 3 flights with the new image (version 20130 for 7" Texim) I experienced a system freeze which I had never seen with the old image in 300+ hours of flight time. I tried 2 different SD-Cards (with the same image): no difference.

My configuration:
SteFly system with adapterboard, without sensorboard
FLARM on ttyS1, e-vario on ttyS2 ($POV,E,0.58,P,944.33,Q,570.83*1E sentences 2 per second)
se

[2020-05-18 08:32] kedder commented on #71
Hm, this looks exactly like my configuration (except display and peripherials), but I've flown around 21 hours with it already without single issue. I'm using 20115-testing image with xcsoar7-preview.

Anyway, what version of XCSoar are you using? Can you try the other (testing or stable) flavor of official image (i.e. not self-built one you are using now)? Can you repro this problem on the ground

[2020-05-18 08:33] linuxianer99 commented on #71
So, what is 20130 ?
It has never be released here.

As kedder said, i would only doing tests with released images. The content of 20130 is not reproducable ...

[2020-05-18 10:02] Scumi commented on #71
I have observed similar behaviour.

Setup:
OV 7" with Sensorboard
Connected Units:
- Air Control Display
- PowerFlarm
- LXNAV S10
- Stick Remote

I even disabled Openvario in XCSoar -> Devices.

My screen only froze for ~30 seconds completely, but lagged for good 5 minutes. Was better again for some time then. CPU loads were as high as 55% (normal up to 30%).

[2020-05-18 10:06] kedder commented on #71
@Scumi, did you disable Openvario device before you observed that or after? Did you observe this behavior after you disabled the device? What version of XCSoar are you running? Can you still repro this? Can you repro with the other XCSoar version?

[2020-05-18 10:14] linuxianer99 commented on #71
Guys,
it makes no sense to chase errors in images where content is undefined ... Even if we know the date of build (20130) it is not sure which version are included, as the build date (os-release) is not updated on every build.

Lets see if we can reproduce on a release image ....

[2020-05-18 10:17] Scumi commented on #71
Disabled after Flight on Saturday where I observed laggy behaviour first.

Yes

Testing (7.x)

Only inflight, so earliest next week (maybe, since it doesn't occur all the time).

I can try, but then I miss many options from XCSoar 7.x I regularly use (including my ACD driver).

[2020-05-18 10:22] Scumi commented on #71
I don't fly with 20130 (I use release with git added) and still have this behaviour. Was about to open an issue, but Ronald beat me to it. :-)

[2020-05-18 10:32] linuxianer99 commented on #71
@Scumi : What do you mean with "I use release with git added" ??

So it will be helpfull to have the exact version here.
Is it testing image or stable ?
Have you changed something on the image ?? (Updated some files after burning to SDCard, etc ...)

[2020-05-18 10:37] kedder commented on #71
It is of course would be much better to repro it on the ground, because you cannot do much to debug stuff while flying. The general strategy is to narrow down the problem - find configuration that works, then change things one by one until it stops working.

Assuming we all have the same hardware and it is not at fault, there must be something in software that is causing that. Mine seem to work (2

[2020-05-18 10:42] Scumi commented on #71
@linuxianer99
Testing image downloaded here with git additionally installed as well as the shell provided by @kedder (https://github.com/kedder/openvario-shell).
No other changes have been made (apart from using my XCSoar config from the pre-warrior image).

@kedder
I agree, unfortunately I cannot predict when the lags and freezes are coming (might as well flight when I sit in front of it). Will t

[2020-05-18 10:48] kedder commented on #71
Also, it might be worth noting the time of these "lags" and then looking at system log at that time - maybe the system was busy doing something specific at that time (for example, having problems writing to sd card). Note that system time might not be in sync with real time, so take it into account.

[2020-05-19 06:52] bomilkar commented on #71
@linuxianer99 : which "system log" are you talking about? "/var/log/messages" ??

[2020-05-19 08:25] kedder commented on #71
@bomilkar Logs are managed by `journald`, you can see/filter them with `journalctl` command, e.g.

[code]

[2020-05-19 18:10] bomilkar commented on #71
I used the plain vanilla 20115 release with XCSoar 6.8.13b from here:
https://github.com/Openvario/meta-openvario/releases
on a 4:30 flight today: exact same issue: it froze twice. I have the complete SD card here. So let me know which files you need to analyze what happened.
I can reproduce it, at least in the glider and will try tomorrow on the test system: zoom out to 250km or more, then flip p

[2020-05-19 18:11] bomilkar commented on #71
Apparently nothing happened in the 15 days since 20115 to change the behavior in any way.

[2020-05-19 18:42] kedder commented on #71
@bomilkar can you zip contents of your `/root/.xcsoar` dir?

The garbage characters you see are irrleevant. It is just your keyboard input printed into the terminal.

[2020-05-19 21:17] bomilkar commented on #71
It's in here:
https://www.dropbox.com/sh/83p53l0pgfh408v/AAD3dTRNZuUV7vOCopIqmyp6a?dl=0

Anything else?

In .xcsoar/logs are the logs from that flight including IGC file from FLARM. The gaps in the NMEA logs are the reboots.

[2020-05-19 21:42] kedder commented on #71
One thing that stands out in that data dir is map of a huge size. I suggest trying smaller map of the area to see if it makes any difference.

[2020-05-20 06:05] bomilkar commented on #71
I'm using this map since years. No issue whatsoever. Not on Android, not on the PC at home, not on the OV system in the glider with the previous OS.
I can certainly try a smaller map to narrow down the problem, but it is certainly not an option to say "on OV your map must be less than XX MB" when there is no real limitation in XCSoar and all other platforms can deal with it.

[2020-05-20 06:24] linuxianer99 commented on #71
It is not about saying "you can only have small maps on OV" but to find the root cause of the issue ...
The main thing change in the warrior release is kernel and lima driver ... So graphics issue are not that unlikely...No boday is talking about have just small maps on OV ...

[2020-05-20 06:26] linuxianer99 commented on #71
@bomilkar : is you are talking about vanilla release and XCSoar 6.8 you have installed stable build ??
Not testing, right ?

[2020-05-20 06:41] bomilkar commented on #71
@linuxianer99 I downloaded and unzipped OpenVario-linux-openvario-image-glibc-ipk-20115-openvario-7-CH070.rootfs.img.gz  (md5sum: 3318f6828f0615e691f89be184833158) burned it to SD, resized partition 2 to 4000MB (parted, fsck, resize2fs) copied my .xcsoar directory on the SD (the tgz file is available from my drop box, see earlier comment).
Then on the OV box: orientation to portrait and `systemctl

[2020-05-20 06:43] bomilkar commented on #71
Good news: I can reproduce the freeze on my test system at home:
zoom out to 500km and try to flip pages.
The configuration is exactly like the one described above.

[2020-05-20 07:10] bomilkar commented on #71
@kedder : I tried GER_HighRes.xcm instead of the large CE.xcm: exact same behavior.
I just downloaded GER_HighRes.xcm from here: https://www.xcsoar.org/download/maps/
Zoom out to 250% or 500% and flip pages -> freezes.

One other observation: on my test system I have a e-vario connected via ttyS1 and a FLARM connected to ttyS2. As soon as I unplug the FLARM XCSoar recovers.

We probably have to sk

[2020-05-20 07:25] bomilkar commented on #71
Please note: it's not the size of the map but more how busy the screen is.
If I don't load any airspace, it'll behave much more gracefully. I guess XCSoar is smart enough to not let the whole map be rendered if it only needs a portion of it. I bet if I don't load any waypoints, then the CPU load reduces, too.
In essence: as soon as the CPU goes into saturation, it'll freeze. Something smart must b

[2020-05-20 08:17] kedder commented on #71
What if you don't plug in FLARM at all? Can you still repro the problem?

[2020-05-20 09:24] bomilkar commented on #71
The FLARM provides GPS fixes one every second (unless it's "GPS waiting for fix").
Each fix being a little different compared to the previous fix, even if it sits on my desk not moving.
As far as I know XCSoar triggers a "refresh everything" if the position has changed. (If you have no GPS fixes, then the vario-bar on the right side doesn't change at all, unless you flip the screens.)

So "don't p

[2020-05-20 09:34] kedder commented on #71
Do you have a better idea how to isolate the problem?

[2020-05-20 11:37] bomilkar commented on #71
Sorry, that was just a lame joke.
If you are looking for a way to test it w/o a GPS source:
replay a IGC or NMEA file in XCSoar
use sensord_mock -i nmea_log_with_GPRMC_sentences

[2020-05-20 11:43] kedder commented on #71
I'll try to repro, but I need to take my device out of the glider, so next week at best.

[2020-05-20 19:54] moser commented on #71
Hi,
I guess I have reproduced it. I was using 20115 testing (xcsoar 7.0 preview 15) on Stefly hardware. Map was Alps HiRes, I supplied GPS NMEA from gpsfeed+ over the network.

Here is what journalctl says:
[code]

Here is a video of the frozen device: https://nx9458.your-storageshare.de/s/6Ziz79zTWGcH6gY
Note that there is still audio output (some airspace warning). Zoom was pretty high (500km).

[2020-05-20 20:13] kedder commented on #71
@moser thanks a lot! So this indeed looks like a lima driver issue :( Last time I saw logs resembling this, the prolem was solved by uprgrading mesa to the newest version. It was 2 months ago (https://gitlab.freedesktop.org/lima/linux/-/issues/28). We can try this trick again, but I didn't see anything lima related in recent changelog for mesa. Anyways, this narrows the number of targets to attack

[2020-05-20 20:16] moser commented on #71
Btw, I have been running the device for an hour now and it froze twice, but only on 500km zoom.

[2020-05-20 21:54] moser commented on #71
I quickly tried updating mesa to 20.0.7 but that did not fix the issue. Maybe I messed up something because I don't fully understand bitbake/yocto and all the moving parts :-)
As far as I understand, mesa is the userland part while lima is part of the kernel. The log output says kernel and states something about `gp error irq state=4`. When I google that I get to an [old issue on lima/mesa](https:

[2020-05-21 08:48] kedder commented on #71
@moser that's a great find! It is definitely worth upgrading to 5.7, because it also contains my [patch](https://github.com/torvalds/linux/commit/d718e53a48f7bcfa6cdd0c00d5ed1fb516595446) to support LVDS screens on A20. I'll work on this.

[2020-05-21 21:08] kedder opened #72 "Docker image: rsync is missing"
Newer kernel build system relies on `rsync` utility (to install header files), but it is missing in `linuxianer99/ovbuild` docker image.

@linuxianer99, please add `rsync` to the docker image and publish it on docker hub.

[2020-05-22 07:08] linuxianer99 commented on #72
@kedder : Done!
New image on docker hub

[2020-05-22 07:08] #72 closed

[2020-05-22 13:14] condoratberlin commented on #65
Hi @hpmax, do you have checked if the XCSOAR audio vario is enabled? On my Openvario with sensorbox there was an overlay of the XCSoar VArio audio and the variod audio, which sounds terrible. Turning off the XCSoar audio solved it.

[2020-05-22 18:35] kedder commented on #65
We have reverted bunch of changes we've made to variod after latest release, that we believe introduced this regression. If 20115 image sounds good to you, it should sound as well on the next image.

[2020-05-22 18:51] linuxianer99 commented on #17
@kedder : Think i have a solution for the touch:

Using tslib with tslib_uinput:
tslib_uinput make a virtual event device with calibration and rotation information.

Things to do:
- disable real touch device for libinput using udev ENV.
`ACTION=="add|change", KERNEL=="event[0-9]*", ENV{ID_PATH_TAG}=="platform-1c25000_rtp", ENV{LIBINPUT_IGNORE_DEVICE}="1"`

- set Env variable `TSLIB_TSDEVICE=/dev/i

[2020-05-22 20:04] kedder commented on #17
@linuxianer99, This won't require any change to XCSoar to support touch events via tslib, right? if it works, it looks great!

[2020-05-22 20:27] kedder commented on #71
Ok, I've built an image with the bleeding edge linux-5.7-rc6. It seems to boot well on my bare display-less cubieboard (but lacks ethernet for some reason, will figure this out later). I'll retrieve my OV from the glider tomorrow and see if it makes the difference.

Will keep you posted.

[2020-05-22 20:32] linuxianer99 commented on #17
@kedder : Yes, no changes to XCSoar.
Just udev things ... and a bit of configuration ...

[2020-05-23 21:16] moser commented on #71
Hi @kedder,
I built an image based on the 5.7 branch from your fork. After ~1h of running XCSoar (at 500km zoom) I got the display freeze again (once until now, so frequency is less than before FWIW).
The log message is different though:
[code]

[2020-05-23 21:31] kedder commented on #71
@moser, thanks! Have to confess, I was secretly hoping for an immediate great success with 5.7, but I guess it is not gonna be that simple.

I brought my device home, so I'm going to play with it tomorrow too. I guess we'll have to escalate this to lima devs and get some instructions how to proceed from here.

[2020-05-24 14:48] hpmax opened #74 "How to recompile xcsoar"
I am trying to modify xcsoar to debug issues I'm having with AHRS.

I modified LevilAHRS_G.cpp in:
/poky/build/tmp/work/armv7vet2hf-neon-ovlinux-linux-gnueabi/xcsoar-testing/git-r12/package/usr/src/debug/xcsoar-testing/git-r12/git/src/Device/Driver 4

However, I cannot for the life of me figure out how to rebuild the executable which I assume is in:
/poky/build/tmp/work/armv7vet2hf-neon-ovlinux-li

[2020-05-24 15:34] kedder commented on #74
@hpmax, bitbake is not meant for software development. It is for building customized linux distributions for embedded devices. You can use the toolchain to compile xcsoar binary with your changes, but it is not going to be very convenient and you can lose your changes if you are not careful.

The way you can do that is start devshell, which will set up the build environment for cross-compilation,

[2020-05-24 17:04] hpmax commented on #74
Other than producing a 170 megabyte executable this worked great.  Unfortunately, all I learned was that it is executing the code that reads in the AHRS sentences... regards them as valid, but still doesn't seem to indicate it knows it has AHRS informtion.

[2020-05-24 18:26] kedder commented on #71
Ok, I played with this issue a bit too.

The simplest way to reproduce the original problem I have found is this :

1. Using 20115 testing image, download and install [.xcsoar](https://www.dropbox.com/sh/83p53l0pgfh408v/AAD3dTRNZuUV7vOCopIqmyp6a?dl=0) dir from @bomilkar
2. Start replay of `2020-05-18_09-30.nmea` file in XCSoar
3. Zoom the map out to 500 km scale
4. Wait

After less then a minute i

[2020-05-24 18:57] kedder commented on #74
I suspect most of these 170 MB are debug information built into the executable (e.g. full source code). There should be a way to strip it if it is a problem.

Well, on the positive side, you now know how to compile things in openembedded :)

[2020-05-24 19:34] hpmax commented on #74
I assumed it was either debug information or perhaps statically linking things.  That's a lot of debug information.  But yes, it was definitely helpful.

[2020-05-24 19:34] #74 closed

[2020-05-24 21:15] kedder commented on #71
@bomilkar and anyone interested, please test this (unofficial) image, containg kernel 5.7-rc6:

* [20145 57-lvds](https://www.dropbox.com/s/dsjhea0vfysjo4w/OpenVario-linux-openvario-image-testing-glibc-ipk-20145-openvario-57-lvds.rootfs.img.gz?dl=0)
* [20145 7-PQ070](https://www.dropbox.com/s/s5euc9f38orpvza/OpenVario-linux-openvario-image-testing-glibc-ipk-20145-openvario-7-PQ070.rootfs.img.gz?dl

[2020-05-25 07:03] bomilkar commented on #71
Very encouraging! I'm just running CH070.
My observations at zoom level of 500km:
- it is sluggish but it doesn't freeze anymore. I can still flip pages and zoom in again.
- it seem to use more than 1 CPU: in top I see up to 80% CPU usage for XCSoar. That's good!
- at reasonable zoom levels 38km or 50km the CPU usage for XCSoar is below 10%. (It used to be in the 20s.)

**Very well done, Andrey!**

[2020-05-25 15:07] bomilkar commented on #71
After ~8 hours of nmea log replay I can say there are no more freezes.
However, at a zoom level of 500km (to some extent even at 250km) the system is loaded to the extent that keyboard and mouse inputs are unusable. Flipping between pages or moving the mouse cursor is next to impossible. For instance: at zoom level 500km I hit the up-arrow to zoom in, but no reaction for minutes. Map redraws still

[2020-05-25 18:27] kedder commented on #71
Great! It seems like the final 5.7 is going to happen next week, so I suggest to wait for it before merging it to openvario. I'll submit a PR once it is out.

[2020-05-26 06:41] bomilkar commented on #71
The only remaining performance issue I see is related to mouse and keyboard responsiveness at high zoom levels: 150km and more. It makes it very difficult to point&click on the map.
That should become a new Issue if this here is done.

[2020-05-26 11:58] condoratberlin commented on #57
I just updated my stefly OpenVario with 7"Texim display and sensorbox and i can confirm, that the variod will be muted and unmuted with the latest sensord-testing, variod-testing and xcsoar-testing.

[2020-05-26 12:02] condoratberlin commented on #41
Is this issue still open? I think the pull request is closed on xcsoar.

[2020-05-26 12:05] kedder commented on #41
Yes, variod needs to be updated to request the data from xcsoar

[2020-05-26 13:00] bomilkar commented on #41
The XCSoar side is done. I can confirm this.
As far as I know the current version of variod doesn't even understand POV,C,ROP sentences when OpenVario driver in XCSoar sends it.

[2020-05-28 14:18] Blaubart commented on #17
I compiled the new image last night, but touch screen dosen't work. I can't calibrate touch screen. If I start the calibration tool I get the message touch screen is calibrated. If I start XCSoar I have no reaction about the touch screen.

[2020-05-28 14:42] marulidu commented on #17
Same with mine. Actually touch moves cursor along upper edge only

[2020-05-28 16:40] linuxianer99 commented on #17
@Blaubart
@marulidu
Which type of image did you build ? openvario-testing ?
Which type of hardware do you have ?

[2020-05-28 17:11] iglesiasmarianod opened #76 "Display Backlight control"
Hi guys.
Using @kedder backlight brightness file I added a simple menu to control it from "Settings" menu.
It is only a minor enhancement.

[2020-05-28 19:03] Blaubart commented on #17
I have a OV with Pixel Qi 7.0 and tried openvario-testing

[2020-05-28 21:01] kedder commented on #71
So, @bomilkar reported that there still was a "freeze" during his flight with 5.7-rc6 kernel. The symptoms are slightly different than the original issue (happened during circling, map zoom was about 1.5km), so this one might have a different cause, but nevertheless.

There is no known way to reproduce this problem at the moment. Until we find one, we need to try to extract logs for the event. Cur

[2020-05-29 08:17] linuxianer99 commented on #17
Can you please do the following:

- on the Openvario linux change to` /dev/input/by-path`
- Do a `ls -alh` and post this output here

[2020-05-29 10:40] Blaubart commented on #17
![20-05-29 11-24-49 6505](https://user-images.githubusercontent.com/6558180/83251131-73a59d80-a1a9-11ea-96ba-021977e4a4dd.jpg)

[2020-05-29 19:53] #76 closed

[2020-05-29 19:54] linuxianer99 commented on #17
@Blaubart Do you have the possibility to change files config files in the linux system ?
Or do you need a full image for testing a fix ?

[2020-05-29 20:02] iglesiasmarianod opened #79 "TTyS3 not working"
Hi guys. Yesterday I pluged my GPS to TTyS3 and it did not connect at all. It works on TTyS1 and TTyS2.  TTyS3 works with Armstrong image.
Do you know if someone else is having the same issue?
Do these ports get enabled with cubieborard2-cubiescreen.fex file?

[2020-05-29 20:06] Blaubart commented on #17
I can change files, no problem

[2020-05-29 20:09] kedder commented on #79
Hm, I don't have ttyS3 on my Stefly device.

I think it might be an issue with device tree (.dts) file. There are bunch of `&uart*` definitions in `openvario-common.dts` file, but there might be a mistake somewhere. We need to check the actual wiring for tty3. What pins on cubieboard is it actually wired to?

[2020-05-29 20:21] iglesiasmarianod commented on #79
These are the schematics for the adapterboard. I think TTyS3 is inside de DB connector in Stefan's Devices.

![image](https://user-images.githubusercontent.com/45265567/83301857-b75fcd80-a1d0-11ea-8fac-07eb0bbf345d.png)

[2020-05-29 20:31] linuxianer99 commented on #17
Try to change the following:

in `/home/root/.profile`
from
`export TSLIB_TSDEVICE=/dev/input/event5`
to
`export TSLIB_TSDEVICE=/dev/input/by-path/platform-1c25000.rtp-event`

and
in `/etc/ts.env`
from
`TSLIB_TSDEVICE=/dev/input/event5`
to
`TSLIB_TSDEVICE=/dev/input/by-path/platform-1c25000.rtp-event`

[2020-05-29 20:44] iglesiasmarianod commented on #79
![image](https://user-images.githubusercontent.com/45265567/83302672-24c02e00-a1d2-11ea-87f1-8441e12f35a7.png)
![image](https://user-images.githubusercontent.com/45265567/83303600-b4b2a780-a1d3-11ea-9e1e-d71ce6404410.png)

And here's the .fex definition from the Armstrong build.

[code]
I did not wanted to modify the .fex file because I'm not very familiar with yocto yet.

[2020-05-29 20:49] kedder commented on #79
Thanks! The .fex file is not used in newer kernels, it is replaced with "device tree" (.dts) files. For openvario it is `meta-openvario/recipes-kernel/linux/linux-mainline/openvario-common.dts` file.

I guess I'll need to solder couple of wires to my DB15 connector to pleay with it.

[2020-05-29 20:54] iglesiasmarianod commented on #79
Great! Thanks!
I'll keep reading Yocto manuals and try to learn something about it.

[2020-05-30 04:47] iglesiasmarianod commented on #79
Think I found something in `sun7i-a20.dtsi`

[code]

`uart5_ph_pins` are used in openvario-common.dts file  but we need PH6 and PI10.

[2020-05-30 08:21] kedder commented on #79
Hm, that's a good find. I think you can add new pin assignment in openvario-common.dts (or just override `uart5_ph_pins` to quickly try it out.

[2020-05-30 17:34] iglesiasmarianod commented on #79
@kedder . Did overwrite pin assignment inside &pio.
In my system it built and devices connect to TTyS3.
Don't know if it is the right way to change pin assignement. Never worked with .dts before
If there's a better way please point me in the right direction.

[2020-05-30 20:34] Blaubart commented on #17
Now I can calibrate the touch screen, but it dosen't react to my finger when XCSoar is running

[2020-05-30 21:14] linuxianer99 commented on #17
Did you do a reboot after the calibration ?
The thing is that there is a systemd service (ts_uinput) which needs to be restarted to apply the calibration. So the easiest way is to reboot.

[2020-05-30 22:44] Blaubart commented on #17
Yes I did.

I don't know why, but now the arrow moves with touch screen. But at X-axis arrow moves just half way. At Y-axis arrow reaches the end of display but my finger moves just have way.

[2020-05-31 15:17] #79 closed

[2020-05-31 16:20] CptFrikadel commented on #71
This might be unrelated, but I get a very similar issue on the 17119 CH070 image.

After a couple hours of flight the system freezes. Like @bomilkar reported some infoboxes and especially the vario gauge still works. So sensord and variod are both still working.

I run SteFly hardware with the sensor board, and flarm on TTyS2. I have tried several new SD cards to no avail. I have had a look throug

[2020-05-31 16:44] hpmax commented on #71
I believe the slowness that @bomilkar reported goes away if you remove the airspace file.

[2020-05-31 16:44] kedder commented on #71
@CptFrikadel oh, this is interesting. Do you mind publishing your `~/.xcsoar` dir from your 17119 image?

17119 is a completely different system though, different kernel (3.x), different graphics stack implementation, so might not be related, unless it is some kind of bug in xcsoar.

I'm waiting for Linus to release new kernel (5.7) today or tomorrow. Once it is out, I'll make new images based on

[2020-05-31 16:48] hpmax opened #81 "Support for 2 WiFi adapters?"
I'd like to be able to support the use of two WiFi networks simultaneously.  I am using a Stratux which provides AHRS, ADS-B In, and GPS through its own WiFi network (192.168.10.x) , and I'd also like to be able to access the Internet through my phone's hotspot (192.168.1.x and everything else).  When I put in two WiFi dongles, both are seen and identified as wlan0 and wlan1 on ifconfig, but I'm n

[2020-05-31 16:54] kedder commented on #81
Does `connman` support this kind of configuration? What does `connmanctl technologies` show with two wifi dongles connected?

[2020-05-31 16:57] hpmax commented on #81
I don't have it setup at the moment, but if I recall correct it shows nothing different from a single dongle.  It doesn't identify things as wlan0 vs wlan1, just wifi.

[2020-05-31 17:12] kedder commented on #71
@hpmax :exclamation: that's an awesome observation! Indeed (just checked), 500km zoom is no problem without airspaces rendered. Now I wonder if freezes would also disappear without airspaces (or with different, smaller, airspace file).

[2020-05-31 17:24] kedder commented on #81
Well, it boils down to connman support. There is not much you can do on openvario side, apart from replacing connman with something else. But that's something I'd like to avoid at this stage.

[2020-05-31 17:30] kedder commented on #71
I just reproed the freeze by replaying `2020-05-18_09-30.nmea` on 5.7-rc6. Airspaces were switched off, map was on 500km scale. The map was not literally "frozen", but repeatedly switched between two frames. Log showed these 3 lines (similar to what @moser observed):

[code]

[2020-05-31 17:36] hpmax commented on #81
I was hoping you might have some idea how to do it in connman...  I am assuming at this point, that connman is the only real support for wifi on the Openvario platform?  So its either connman supports it or... wait until another option is available which is a low priority.

[2020-05-31 17:37] kedder commented on #71
It looks like [mesa-20.1.0](https://www.mesa3d.org/relnotes/20.1.0.html) was released just few days ago with bunch of lima-related changes. I'll upgrade to it and make a new image. We have to test with latest mesa anyways before reaching out to lima devs.

[2020-06-01 08:51] bomilkar commented on #71
Are you saying the airspace file is corrupt? Is there a way to check the integrity of an airspace file (other than loading it into XCSoar)?
I concatenate airspace files from de at ch cz fr it pl si into CE (stands for Central Europe).
I can use just one country's airspace file to see if it makes a difference. But that would only be a temporary solution to isolate an issue.

[2020-06-01 08:55] bomilkar commented on #71
A smaller airspace file attached. Just for Germany.
[Airspace_de_2020-05-26.txt](https://github.com/Openvario/meta-openvario/files/4710343/Airspace_de_2020-05-26.txt)

[2020-06-01 09:26] CptFrikadel commented on #71
@kedder  I'll see if I can find an old SD card with the image and share. I'll of course try the new image. However it won't be until a few weeks until my club can start flying again.

What's is more interesting is that I also run two airspace files and fly in complex (Dutch) airspace. In my case (with the old image) freezes usually (but not always) happened when switching waypoints.

[2020-06-01 13:23] hpmax commented on #71
@bomilkar No, I wasn't trying to suggest the airspace file is corrupt.  I had my airspace file loaded (entire US) which I believed to be correct and saw that it was hitting high CPU loads.  I then re-flashed the drive and it came back up with the European airspace file that is far away from me.  When I switched to 500 km range I did not see high CPU loads.  Hence my contention that the problem is

[2020-06-01 18:07] kedder commented on #71
Here are new images with just released kernel 5.7, mesa-20.1.0 and persistent logs. Hot from the oven.

* [20153-openvario-7-CH070](https://www.dropbox.com/s/sig3uo39g83gu07/OpenVario-linux-openvario-image-testing-glibc-ipk-20153-openvario-7-CH070.rootfs.img.gz?dl=0)
* [20153-openvario-7-PQ070](https://www.dropbox.com/s/awj33y59xfv9u8r/OpenVario-linux-openvario-image-testing-glibc-ipk-20153-openva

[2020-06-01 19:11] bomilkar commented on #71
Great, Andrey!
Can you give us instructions on how to get the build environment updated? I'd like to include my "scalable infobox title font" patch.

[2020-06-01 19:23] bomilkar commented on #71
I wish we had fewer objects in our airspace, not just to reduce CPU load. ;-)
In any case, the number of (airspace, waypoints, topography, ...) objects on the map area at the given zoom level determines the amount of work the system has to do. One other key element is the GPS source. Since consecutive fixes differ enough to trigger a redraw the CPU load is low as soon as you disconnect the GPS sou

[2020-06-01 20:02] hpmax commented on #71
I agree... I think CPU utilization is higher than in the "legacy" SD card image, but hopefully the knowledge that excess airspace objects are driving the load up maybe that will help track down what is causing it.

[2020-06-01 21:01] kedder commented on #71
I used my branch from #83 to build these, no other changes to current `warrior` branch.

[2020-06-03 18:00] bomilkar commented on #71
@kedder 's image is really worth trying. I used the CH070 flavor for ~7 hours flight time w/o a crash. The previous version with the 5.7-rc6 kernel used to crash about once every 2 hours of flight time. **So it is encouraging!**

Currently we are chasing 2 symptoms:
1. the "500km-zoom-trap"
2. the flicker crash/hang where map and infoboxes jump between 2 frames back and forth.

As I said before is

[2020-06-03 18:49] kedder commented on #71
That's great to hear! The fix will need some more exposure to be confident that it works, so I encourage everyone to try it out, if possible. @moser, if you can do whatever you did before to get that `pp task error` to see if it repeats on the latest 20153 image, that would be very helpful.

I'll mark #83 as a fix for this issue and start new issue to address number 1 from @bomilkar report. I feel

[2020-06-03 19:19] kedder opened #85 "Degraded XCSoar performance on high zoom levels"
This issue is originally reported by @bomilkar on #71, but taken out as a separate one here.

When using XCSoar on a very high zoom levels (500km across the map), XCSoar may perform very poorly: does not react to control inputs, or react with significant delay, refresh frame rate will also drop (to 1 frame per several seconds). In some extreme cases reboot is required to restore the control.

What

[2020-06-04 07:23] bomilkar commented on #85
I did use a smaller airspace file, too. It didn't make a difference.
Hence the size of the airspace file is probably not the (only) issue.
[Airspace_de_2020-05-26.txt](https://github.com/Openvario/meta-openvario/files/4728232/Airspace_de_2020-05-26.txt)

[2020-06-04 11:45] bomilkar commented on #85
I reviewed "journalctl --system" to see if there is any message during the "500km-zoom-trap".
Nothing there.

[2020-06-04 12:32] CptFrikadel commented on #85
Is there a way to send NMEA sentences to xcsoar from the ov? So basically a sensord mock up?

[2020-06-04 12:34] bomilkar commented on #85
Do you want to run it on the Cubie? Or on your Linux workstation?

[2020-06-04 12:34] CptFrikadel commented on #85
On the cubie preferrably

[2020-06-04 12:38] bomilkar commented on #85
Does the NMEA log file have GPRMZ sentences with real fixes?

[2020-06-04 12:39] CptFrikadel commented on #85
Yes, they are the log files produced by xcsoar

[2020-06-04 12:42] bomilkar commented on #85
Try this:
https://www.dropbox.com/s/bvwt3giufj01rqj/sensord_mock?dl=0
sensord_mock -i nmea.log
sensord_mock --help

This is nothing official!

[2020-06-04 12:44] bomilkar commented on #85
make sure to stop and/or disable sensord. (systemctrl stop sensord)
sensord_mock sends on the same port 4352.

[2020-06-04 12:48] kedder commented on #85
The easiest way is to use XCSoar to replay pre-recorded NMEA log file. One can also forward a port with ssh, like this:
[code]

This will open a listening port  4353 on localhost (linux workstation). Everything sent to that port will be forwarded to XCSoar that runs on openvario.

[2020-06-04 13:24] CptFrikadel commented on #85
Thanks! I'll report when I find something..

[2020-06-08 22:10] kedder commented on #17
Thanks to Stephan Langer, who generously donated me the hardware for development, I have a 7" device with the touchscreen (and sensors too) and can play with it now!

I've checked out the image with the tslib support and found couple of issues:

1. The touchscreen is not always registering as `/dev/input/event5` - the number actually depends on how many other input devices (keyboards, mice, etc) a

[2020-06-09 20:20] kedder commented on #17
I think I made tslib work, including screen rotation, but it is a bit hacky  (using `LIBINPUT_CALIBRATION_MATRIX` to force the rotation), so I'm not too happy with it just yet.

Without ``LIBINPUT_CALIBRATION_MATRIX` hack I've observed the same behaviour on rotated screen as @Blaubart, and this seems like a bug (or just missing feature) in tslib version we use right now (1.16). It seems like [1.18

[2020-06-11 19:58] kedder commented on #71
Pushed [lima-debug](https://github.com/kedder/meta-openvario/tree/lima-debug) branch on my fork of meta-openvario that adds couple of patches and debugging tools to the image. They are needed to gather some more info about the issue.

[lima_debug](https://gitlab.freedesktop.org/lima/lima_dump) tool should get the state of the lima driver when the error happens. The way to use it is described in it

[2020-06-12 15:39] bomilkar commented on #71
# echo 1 > /sys/module/lima/parameters/max_error_tasks
-sh: /sys/module/lima/parameters/max_error_tasks: Permission denied

Hm. @kedder : what shall I do??

[2020-06-12 15:46] bomilkar commented on #71
In case you don't want to wait 10+ hours for bitbake to complete. Here is the image for CH070:
https://www.dropbox.com/s/czmmw02vg5orxxz/OpenVario-linux-openvario-image-testing-glibc-ipk-20164-openvario-7-CH070.rootfs.img.gz?dl=0

[2020-06-12 15:48] kedder commented on #71
@bomilkar, as I mentioned, you need to use my [lima-debug](https://gitlab.freedesktop.org/lima/lima_dump) branch to get image with debugging tools. I suspect you did not do that.

[2020-06-12 16:30] bomilkar commented on #71
I thought you were talking about this branch:
https://github.com/kedder/meta-openvario/tree/lima-debug
Is this not what the branch name says it is??

[2020-06-12 16:56] bomilkar commented on #71
You are right @kedder. I followed the old instructions plus `git remote add upstream git://github.com/kedder/meta-openvario/tree/lima-debug.git` which obviously did not do what I thought it should.
Is it just me? Has anybody figured out what to do?

[2020-06-12 20:19] kedder commented on #71
Here's the image with lima debug tools: [20163-openvario-7-CH070](https://www.dropbox.com/s/3t76nchbv2p0x54/OpenVario-linux-openvario-image-testing-glibc-ipk-20163-openvario-7-CH070.rootfs.img.gz?dl=0).

[2020-06-12 22:18] kedder commented on #71
I've finally reproed it and got the dump file with `lima_dump` tool. [Posted it](https://gitlab.freedesktop.org/lima/linux/-/issues/33#note_531994) to lima devs. Hopefully that will help figuring it out :crossed_fingers:.

[2020-06-12 22:40] kedder commented on #17
Ok, I think I figured it out. @Blaubart, can you try this new image: [20164-openvario-7-CH070](https://www.dropbox.com/s/yg24eis0imqsvdh/OpenVario-linux-openvario-image-testing-glibc-ipk-20164-openvario-7-CH070.rootfs.img.gz?dl=0)?

The touchscreen should work in all 4 directions after calibration. First, pick your screen orientation, then reboot, then calibrate the touch screen, then start xcsoar

[2020-06-12 23:02] Blaubart commented on #17
Thats sounds good!! Thanks! I use a Pixel Qi 7, so can you send me the image for this display, please?

[2020-06-13 08:32] kedder commented on #17
@Blaubart here you go: [20165-openvario-7-PQ070](https://www.dropbox.com/s/qjn74cevxexmynf/OpenVario-linux-openvario-image-testing-glibc-ipk-20165-openvario-7-PQ070.rootfs.img.gz?dl=0).

[2020-06-14 16:16] Blaubart commented on #17
Hi Kedder,

it almost works ;-)
Touchscreen works really good, but calibration is not saved. If I restart OpenVario I have to calibrate again because touchscreen dosen't respond to the my finger. After calibrate again touchscreen works until I powered off the device.

Regards and thanks a lot!
Blaubart

[2020-06-15 19:28] kedder commented on #17
@Blaubart yeah, apparently I didn't test it well enough. Please try the new image: [20167-openvario-7-PQ070](https://www.dropbox.com/s/771vn48kmbc2hm3/OpenVario-linux-openvario-image-testing-glibc-ipk-20167-openvario-7-PQ070.rootfs.img.gz?dl=0), it should have the problem fixed.

[2020-06-15 20:46] Blaubart commented on #17
Thanks a lot!!!! It works perfectly!

[2020-06-15 20:50] Blaubart commented on #17
How can I see, that it is merged to warrior?

[2020-06-15 21:00] kedder commented on #17
I'll make a pull request, as soon as it merges, this issue will close, you'll get a notification (probably).

[2020-06-16 17:08] kedder commented on #71
I've got some good news here! We have found a pretty good [workaround](https://gitlab.freedesktop.org/lima/linux/-/issues/33#note_533957) for freezing issue (lima job timeout).  XCSoar is running for 21 hours straight on my desk without any problem. The error still happens and logged, but it doesn't make xcsoar to freeze.

I'll make a PR and I think we can finally close this issue.

[2020-06-16 23:25] hpmax commented on #71
Does this resolve the sluggishness too?

[2020-06-17 04:07] kedder commented on #71
@hpmax, no, that's a different issue (#85)

[2020-06-17 12:39] linuxianer99 opened #87 "Integrate new sensord version 0.3.4 into image"

[2020-06-18 15:13] Blaubart opened #89 "Problem with rotary encoder"
I installed the last self compiled image from yesterday where touchscreen is working. If I choose NMEA Device at menu, I can select device with up and down (rotary encoder at the right hand side), but I can't choose edit, monitor, reconnect etc. (rotary encoder at the left hand side). At other menu options right and left with this encoder works. With the old image everything works fine.

[2020-06-18 15:26] kedder commented on #89
This might be an XCSoar bug. What version of XCSoar are you running? Blue one (6.x) or Red one (7.x-preview)?

[2020-06-18 15:29] Blaubart commented on #89
7.0_preview15

[2020-06-18 18:09] Blaubart commented on #89
of course, I will try!

[2020-06-18 18:33] Blaubart commented on #89
I tried an image from today with XCSoat 6.8.x. It is the same

[2020-06-18 19:37] kedder commented on #89
I just started the old image out of curiosity,  and it seems like it behaving exactly the same way as on new image.

I don't have rotary encoder, but I'm assuming it is just a usb keyboard device, producing arrow keypresses when you rotate knobs. If it is so, on old image (17119) it is possible to select device with up/down keys, but left/right button just make cursor jump to first and last device

[2020-06-18 19:52] Blaubart commented on #89
rotary encoder just producing arrows, yes. Up and Down works perfectly. left/right button just make cursor jump to first and last device. It's exactly the same at my and your device.

[2020-06-18 19:58] kedder commented on #89
But that is the same on old image too.  I think this is XCSoar issue and it ptobably never worked as you are expecting it to work. I think this should be filed as a bug on XCSoar project. There is not much openvario can do about it.

[2020-06-18 20:05] Blaubart commented on #89
I tried 4 different images:
- 17119 but with a self compiled XCSoar 7 (everything works)
- a selbst compiled a couple weeks old with XCSoar 7.0_preview15. Sorry, don't know exactly how old it is (everything works)
- image from yesterday with XCSoar 7.0_preview15 (dosen't work)
- image from today with XCSoar 6.8.14 (dosen't work)

[2020-06-18 20:11] kedder commented on #89
Does it work for you with normal usb keyboard (not rotary encoder)?

[2020-06-18 20:23] Blaubart commented on #89
with a keyboard it is exactly the same.

[2020-06-18 20:30] kedder commented on #89
Weird, I can't make it work on old image with my keyboard

[2020-06-18 20:33] kedder commented on #89
@linuxianer99, @mihu-ov, are you aware of any special tricks to make keyboard arrow keys navigate "edit", "monitor", "reconnect" and other buttons in "devices" menu in xcsoar on old image?

[2020-06-19 05:44] mihu-ov commented on #89
Hi Andrey,

this is a known issue and one of the reasons why the "mouse mode" on the stick remote is still required. Other menus are affected as well, see https://github.com/XCSoar/XCSoar/pull/330 and https://github.com/XCSoar/XCSoar/issues/394. As this is not OV specific I would suggest to close this here and continue in one of the mentioned XCSoar topics.

[2020-06-19 07:30] kedder commented on #89
Hm, I don't quite understand why / how it works for @Blaubart on old image then.

[2020-06-19 08:13] mihu-ov commented on #89
I won´t believe it really works before I actually see it ;-)
IIRC it works for the first and last device in the device list but not for any of the other devices. You can scroll through devices and menu options but can not select (highlight) a specific device and then select a menu option. The first or last device stays highlighted when the cursor changes from devices to menu options.

[2020-06-19 08:58] Blaubart commented on #89
I try to publish a video. It really works!!

[2020-06-19 09:08] kedder commented on #89
@Blaubart, do you have some special version of XCSoar or it works for you with the stock 17119 without modifications?

[2020-06-19 09:26] Blaubart commented on #89
I used a couple of patches:
nearestmapitem.patch
nearestmapitem_refresh.patch
LocationOnMapEnableGoto.patch
icon.patch
more_alternates.patch
WPlistAirport.patch
FreeVario.patch

The only one I don't use since couple days is LocationOnMapEnableGoto.patch, because it dosen't work anymore:
ERROR: xcsoar-testing-git-r13 do_patch: Command Error: 'quilt --quiltrc /OpenVario/poky/build/tmp/work/armv7vet2

[2020-06-19 10:39] Blaubart commented on #89
This is the video:
https://vdrblaubart.dynvpn.de/s/7eLapiGfk6MyAZ9

[2020-06-19 14:27] mihu-ov commented on #89
That´s great, thank you for proving me wrong :-)
Can you check the info pages for the git references of the two working self compiled and the two not working XCSoar versions?

[2020-06-19 14:38] mihu-ov commented on #89
@Blaubart: Have you manually included the patch mentioned in https://github.com/XCSoar/XCSoar/pull/330 in your self compiled XCSoar versions?

[2020-06-19 15:02] Blaubart commented on #89
I don't know which patch you mean.

Yes, I will check

[2020-06-19 15:05] kedder commented on #89
@Blaubart it would also be interesting to know if you can navigate with arrow keys on raw 17119 image from https://openvario.org/doku.php?id=downloads, without any modifications to xcsoar or its data files.

The problem is pretty annoying to me too, I'd really prefer to be able to use arrows to navigate everywhere, so I'm interested to understand what makes it work in your case.

[2020-06-19 15:08] Blaubart commented on #89
Ok, I'll check this evening. Can I see info pages for the git references only when XCSoar starts, or can I find at the menu, too?

[2020-06-19 15:11] kedder commented on #89
I believe you can see the exact version in "Credits" page in 3rd "Info" menu.

![image](https://user-images.githubusercontent.com/59499/85147905-283a5880-b258-11ea-972c-0ee78ef86ecd.png)

[2020-06-19 16:00] Blaubart commented on #89
![20-06-19 17-41-27 6675](https://user-images.githubusercontent.com/6558180/85153590-ab5aaf00-b256-11ea-9cd0-50dc4f41ff80.jpg)
![20-06-19 17-46-41 6676](https://user-images.githubusercontent.com/6558180/85153623-b1e92680-b256-11ea-83ff-5413420ab150.jpg)
![20-06-19 17-48-28 6677](https://user-images.githubusercontent.com/6558180/85153635-b57cad80-b256-11ea-866a-d4fe8e3734b6.jpg)
![20-06-19 17-50-28

[2020-06-19 17:06] Blaubart commented on #89
image 17119 for Pixel Qi works. I've changed nothing! Just copied to SD card
![20-06-19 18-51-53 6679](https://user-images.githubusercontent.com/6558180/85161396-faf1a880-b25f-11ea-93e3-bf9980a2c5c3.jpg)

[2020-06-22 15:11] Blaubart commented on #89
any ideas??

[2020-06-22 15:31] mihu-ov commented on #89
Re-build 7.0 preview 15 from May 2nd and test just to make sure it really works without additional patches and then bisect with 7.0 preview 15 from June 16th? This all seems a bit strange ...

[2020-06-22 18:18] Blaubart commented on #89
How can I rebuild the image from May 2nd?

[2020-06-22 18:39] kedder commented on #89
@Blaubart, I loaded stock 17119. When I go to devices, select the device C, press "left" on a keyboard, cursor just goes to the device A. It just doesn't work the way you describe it for me :( Am I missing anything obvious?

[2020-06-22 18:55] Blaubart commented on #89
No, I made it the same way!

[2020-06-22 19:05] kedder commented on #89
Why does it work differently then?

[2020-06-22 19:35] Blaubart commented on #89
Sorry, no Idea!! I'm not a software engineer :-D

[2020-06-27 18:44] #71 closed

[2020-06-29 18:02] kedder opened #90 "XCSoar profile lost after abrupt power off"
According to several reports, it is pretty easy to lose the active xcsoar profile by switching off the power supply. Repruducing is pretty simple:

1. Run XCSoar
2. Change something in the settings
3. Exit XCSoar
4. Turn the power off (without using Power Off menu)
5. Turn power back on

After the system boots, XCSoar will start unconfigured, with all-white UI without any map. This happens because

[2020-06-29 18:07] CazYokoyama commented on #90
The solution is "run sync" on "3. Exit XCSoar", correct?

[2020-06-29 18:13] kedder commented on #90
Yep. I'll post a PR after I get a confirmation from users (with issue fixed in [20181-openvario-7-CH070](https://www.dropbox.com/s/ujyto5i2tud343e/OpenVario-linux-openvario-image-testing-glibc-ipk-20181-openvario-7-CH070.rootfs.img.gz?dl=0)).

[2020-06-30 14:03] hpmax commented on #90
I have generally had a lot of problems with the system getting corrupt after an errant power off.  Given the nature of the system, I think this really needs to be addressed.  Having to go through a sequence to safely shut down seems unreasonable.  My system is wired directly through my main power switch, so if someone flips the power switch on to test the radio or anything else, that forces you to

[2020-06-30 19:51] iglesiasmarianod commented on #89
Hi guys, had a similar behaviour some time ago with Armstrong image.
I made my own encoder code. It seemed to work OK but was a bit jittery in behavior.
I debounced with resistors, capacitors and a timer.
With this code I was able to access the devices page side menu regardless the device I had highlited.
Because my code was so fuzzy and inaccurate I implemented a state machine to count encoder pu

[2020-06-30 21:44] Blaubart commented on #89
But I used always the same encoder code.

[2020-07-01 00:22] iglesiasmarianod commented on #89
Hi @Blaubart!
I always thought that getting to those options with an encoder, in the old version of OpenVario image, might have been a "lucky bug" of my encoder code. I wasn't able to get there with a keyboard so I concluded my encoder code was faulty.
Let me load 17119 and test.
I did not fully understand if you tested it with a pc keyboard or not.

[2020-07-01 08:02] #90 closed

[2020-07-01 17:46] kedder opened #94 "Release new preview image"
@linuxianer99, @mihu-ov, how about releasing a new preview image (after merging #93)? There were a bunch of good improvements since the last release.

[2020-07-01 18:34] #87 closed

[2020-07-01 21:17] mihu-ov commented on #94
Hi Andrey, you are much more up to date on current status than me, if you think the time is right go ahead.

[2020-07-02 11:49] linuxianer99 commented on #94
Yes! good idea! i will have a look on this the next days

[2020-07-11 13:43] linuxianer99 commented on #94
Build are on the way ...

[2020-07-11 20:36] kedder commented on #94
Thanks @linuxianer99! @mihu-ov, would it be any trouble for you to write an announcement?

[2020-07-11 20:42] linuxianer99 commented on #94
maybe wait 1 day. there is some error in the build process. I have to debug first.

[2020-07-11 20:43] kedder commented on #94
sounds good!

[2020-07-12 08:24] mihu-ov commented on #94
@kedder: I am happy to make an announcement once the binaries are availabe.
Would it be possible to include the XCSoar start screen rotation fix even if it is not implemented in XCSoar yet? What about Openvario Shell and Competition Manager? Could we include them as ipk for those who want to switch over?

[2020-07-12 19:27] kedder commented on #94
@mihu-ov, I can post a openvario PR with rotation patch. Even though XCSoar PR is there (https://github.com/XCSoar/XCSoar/pull/453), you never know when it gets reviewed / merged.

For openvario-shell and competition manager, these are available as ipk packages, just in my own PPA (personal package archive) - [installation instructions](https://github.com/kedder/openvario-shell#installation) shoul

[2020-07-12 20:23] mihu-ov commented on #94
@kedder : If you consider the rotation patch good to go for Openvario I suggest merging it even with XCSoar review pending.
@linuxianer99 : When do you expect the "testing" images will be available?

[2020-07-12 21:02] kedder commented on #94
here you go: https://github.com/Openvario/meta-openvario/pull/96

[2020-07-12 21:12] linuxianer99 commented on #94
@mihu-ov
@kedder
Uploads are on the way.
I have no change to flash the image for testing ... Maybe one of you can make a quick check ?

[2020-07-19 11:53] #94 closed

[2020-07-23 18:19] hpmax opened #97 "Vario disturbances"
I noticed periodic (every 5-10 seconds) blips in my vario sitting on the ground.  The blips were on the order of .3-.7 m/s in both directions.  The problem seems to depend on which image I am using (20193 vs 20126) but it doesn't depend on sensord is being used as I tried different versions of sensord on both versions.  It works correctly on 20126, but not 20193.  I've had the SD card with 20126 o

[2020-07-24 10:47] Blaubart commented on #17
I compiled stable and testing version at the same day with the same sources. Touchscreen calibration with testing-image works, with stable not. It dosen't make sense, right??

[2020-07-24 10:55] Blaubart opened #98 "airspace warning - sound dosen't work"
I use a self compiled new image with XCSoar 7.0_preview 15. I disabled variod because of testing vario sound of my FreeVario.

Sound for airspace warning dosen't work. I only have a strange sound.
[Warnings.mp3.zip](https://github.com/Openvario/meta-openvario/files/4971576/Warnings.mp3.zip)

I like to test with stable version, but there is no menu Audio-Vario or Audio in general.

[2020-07-24 19:08] kedder commented on #17
@Blaubart, no, it does not. Does the officially released stable version have the same issue?

[2020-07-25 18:18] Blaubart commented on #17
I will test next days.
Thanks for helping!!

[2020-07-26 00:56] iglesiasmarianod opened #99 "Added "Spanish" to language Menu"
Hi guys, I added the Spanish option to the main menu.

Created a linked PR.

[2020-07-26 05:04] #99 closed

[2020-07-26 15:30] Blaubart commented on #17
It is the same with officially released stable version for PixelQi 7.0

[2020-07-26 15:40] linuxianer99 commented on #17
Checked content of image a few minutes ago.
So the PR is in the official release image. Checked the udev rules file.

Just to be sure:
The official testing image works
The official stable not ?

[2020-07-26 15:45] Blaubart commented on #17
I tried self compiled testing image (works), self compiled stable image (dosen't work) and officially released stable image (dosen't work)

[2020-07-27 06:21] kedder commented on #17
I'll check as soon as I get to my testing device, hopefully this evening.

[2020-07-27 13:23] kedder commented on #17
Ok, I can confirm the problem. It seems like XCSoar-6.8 is interpreting the touch input somehow differently from 7. It should be fixable, but I can't do it till the next week.

[2020-07-29 23:46] Blaubart commented on #98
nobody else has this problem??

[2020-07-30 06:40] kedder commented on #98
I couldn't check airspace warnings specifically yet, but I remember other sounds (e.g. take-off) do work on my device. I'll check the how airspace warning sounds like when I get to my testing device (probably next week).

[2020-07-30 18:28] Blaubart commented on #98
Other sounds wok, but airspace warning not

[2020-07-30 21:28] linuxianer99 commented on #98
But then it is XCSoar problem, right ?
As audio subsystem is working fine in Openvario ...

Maybe you can address this issue in XCSoar forum ?

[2020-07-30 21:34] linuxianer99 commented on #65
Is there any improvement with the actual image ??
@kedder mentioned, the changes in variod have been reverted ...
If this is no longer an issue, i will close this ...

[2020-07-30 21:35] linuxianer99 commented on #57
@OBrown92 : So we close this issue ?

[2020-07-31 00:35] Blaubart commented on #98
I can't evaluate if it is a problem of XCSoar or OpenVario. I already ask about this problem in XCSoar forum, but didn't get any answer.

[2020-07-31 07:12] kedder commented on #65
I agree, this should be addressed, let's close this. Feel free to reopen if the issue is still there.

[2020-07-31 07:12] #65 closed

[2020-08-03 20:39] kedder commented on #98
Okay, I'm finally back and first thing I did is I tested the airspace warning sound. TLDR: it sounds normal (like one on android mobile) in my case.

Here's how I tested:

1. I've flashed the latest released image (`*-testing-glibc-ipk-20193-*`)
2. Started it with no changes to xcsoar profile. Went to xcsoar system config and picked the only available airspace file, shipped with the image.
3. Sinc

[2020-08-03 21:43] Blaubart commented on #98
I uploaded my own config. I will test it the same way you did.

[2020-08-03 22:15] Blaubart commented on #98
airspace warnings in simulator works with my image, too. Tomorrow I will test warings with Condor again.

[2020-08-04 07:19] kedder commented on #98
@Blaubart can you share your config (`~/.xcsoar` directory) and a short NMEA log file where you would approach the restricted zone (so the warning is emitted)? I'd like to try to replay it on my unit.

[2020-08-04 12:04] CptFrikadel commented on #85
This may be related to XCSoar/XCSoar#379 which has since been fixed. A regression, that I unfortunately introduced trying to fix something else (I'm really sorry), was causing excessive redraws.

Can somebody verify that this does fix the issue on OV as well? I won't have access to my OV until at least next week.

[2020-08-04 14:57] bomilkar commented on #85
I can build a new OV image. But how do I know the issue has bin fixed?
OV's build process is quite convoluted (in my humble opinion) so I don't know which commits are included. How do I tell (from the source code) that it picked up the fixes?

[2020-08-04 15:45] CptFrikadel commented on #85
The xcsoar-testing recipe pulls from the master branch, so it will automatically include the latest commit.

Here is a package/executable should you not want to build an entire new image:
* [XCSoar Package](https://www.dropbox.com/s/o940xlnuo5qoawc/xcsoar-testing-dbg_git-r13_armv7vet2hf-neon.ipk?dl=0)
* [XCsoar Executable](https://www.dropbox.com/s/fbksy4gyrvv9aip/xcsoar.zip?dl=0)

[2020-08-04 18:24] bomilkar commented on #85
I did a `repo sync` before `bitbake`. So I it should have picked up the master branch in the current state.
But the **500km zoom level is still "sticky"**. "Sticky" meaning: once it zooms out to that level, there is no way back unless I stop the GPS source. (I have a simple patch for this to limit the zoom lever to 250km.)
However, it feels less sluggish. But that's hard to quantify and I might be

[2020-08-04 18:51] Blaubart commented on #98
Yes, I will send you an email. Tomorrow I go to my holidays, so I'm not sure if I could log the NMEA stream until tomorrow. If not I send it next week.

[2020-08-04 22:37] Blaubart commented on #98
I don't know what I did wrong, but today it works perfectly with Condor! Sorry, it seems to be a user problem.

[2020-08-04 22:37] #98 closed

[2020-08-04 23:42] CptFrikadel commented on #85
FYI, bitbake does a fetch operation during the build process where it pulls the sources from the URI specified in the recipe. So a repo sync shouldn't have been necessary. You can also build individual recipes using bitbake so that you don't have to build the entire image every time (provided dependencies are still correct).

So it might not all be my fault.. :smile:

I have been using stable xcso

[2020-08-05 07:09] bomilkar commented on #85
No lima errors whatsoever in 16 hours uptime. Even with the map stuck. Entirely unrelated.

"Map stuck" depends on how busy the map is. For my replay I use a couple of nmea logs from flights from Unterwössen together with `ALPS_HighRes.xcm` and the complete airspace structure and waypoints. Zooming out to 500km on a course where the xcm file doesn't fill the entire map area may not get it "stuck".

[2020-08-05 21:08] kedder commented on #17
@Blaubart, I figured it out. Touchscreen on xcsoar-6.8.x will work after #102 is merged.

[2020-08-05 21:10] Blaubart commented on #17
great! Thanks for your help!!

[2020-08-06 07:24] #17 closed

[2020-08-07 18:30] kedder commented on #57
Closing this. Feel free to open if it is still an issue.

[2020-08-07 18:30] #57 closed

[2020-08-07 18:41] OBrown92 commented on #57
Yes, sorry busy times. I will test it next week in my holidays.

[2020-08-08 17:12] iglesiasmarianod opened #103 "Turn off Backlight on Shutdown"
Hi guys, Is there a way to turn off the backlight before the cubieboard shuts down?
My image shows a strange fading screen on shutdown. If the backlight was off it would not show.
It is something similar to what happened at satrtup before @kedder fixed the logo sequence.

Thanks!

[2020-08-08 17:40] kedder commented on #103
It used to work on kernel 5.2 (backlight turned off on shutdown), but after upgrading to 5.7 it is no longer happening (in fact, it backlight turns of sometimes, but not always)

[2020-08-10 20:34] iglesiasmarianod commented on #103
Thanks again @kedder!
Do you think adding these lines to the .dts file might help?

[code]

[2020-08-10 20:44] kedder commented on #103
Hm, I believe `backlight: lcd` is already on the .dts, except `post-pwm-on-delay-ms` and `pwm-off-delay-ms`. TBH, I have no idea whether they might help or not. Do you want me to try? Did _you_ try?

[2020-08-10 20:50] iglesiasmarianod commented on #103
Just asked perhaps you knew before trying.
I just added both lines

[code]
I'm building the image. No errors so far.
I'll let you know if it works when I load it to the OpenVario.

[2020-08-10 20:59] iglesiasmarianod commented on #103
It did not help.
I'll keep looking in case I find something useful.

[2020-08-23 18:55] Blaubart commented on #89
I like to compile XCSoar 7.0 preview15 commit 9d7767596bdcb24c8ff2d9ea282703fa4040cf9b again, to check if rotary encoder works again. How do I checkout this commit? I tried
git clone git://github.com/XCSoar/XCSoar.git;protocol=git;commit=9d7767596bdcb24c8ff2d9ea282703fa4040cf9b

but it seems I get the newest version. How I could be sure getting the right version?

[2020-08-23 19:36] kedder commented on #89
Did you try specifying [SRCREV](https://www.yoctoproject.org/docs/latest/ref-manual/ref-manual.html#var-SRCREV) variable?

[2020-08-23 19:38] Blaubart commented on #89
No. What do I have to use??

[2020-08-23 20:40] kedder commented on #89
Oh, I was assuming you are using bitbake recipe to compile it. If not, `git checkout` is your friend.

[2020-08-23 20:43] Blaubart commented on #89
Thanks!! I got it 2 minutes ago ;-)
How Ould I verify that I really have the right commit?

[2020-08-23 20:46] Blaubart commented on #89
But you are right, in future it is easier to use it with bitbake.

in xcsoar-testing_git.bb is written:
git://github.com/XCSoar/XCSoar.git;protocol=git;branch=master \

What do I have to change there, if I like to have a specific commit??

[2020-08-23 21:07] kedder commented on #89
I don't know, but there's `SRCREV_pn-xcsoar-testing` variable in that file. Try putting the commit id there.

[2020-08-23 21:36] Blaubart commented on #89
SRCREV_pn-xcsoar-testing = "9d7767596bdcb24c8ff2d9ea282703fa4040cf9b"

Like this?

[2020-08-24 08:20] kedder commented on #89
That looks good to me.

[2020-08-25 22:16] Blaubart commented on #89
It works, thanks

[2020-08-26 21:25] kedder commented on #103
I've discovered something funny in relation to this issue:

The backlight power can be controlled by writing `0` or `4` to `/sys/devices/platform/lcd/backlight/lcd/bl_power` file. `0` means "power on", `4` means "power off" (according to https://www.kernel.org/doc/Documentation/ABI/stable/sysfs-class-backlight).

So, if you do `echo 4 > /sys/devices/platform/lcd/backlight/lcd/bl_power` the screen

[2020-08-26 21:42] Blaubart commented on #89
that's crazy. I tried to recompile XCSoar 7.0 preview 16 git 9d7767596b. Last time rotary encoder works with this version, but today they don't. Last image from openvario website (17119) works.

[2020-08-26 22:00] kedder commented on #103
It feels like the line, controlled by pwm stays in whatever state it was the moment backlight was turned down - either full 1 or 0. Even though the pwm backlight driver explicitly asks to set the duty cycle to 0:

https://github.com/torvalds/linux/blob/master/drivers/video/backlight/pwm_bl.c#L81-L83

It might be that `pwm-sun4i` module does not execute that instruction very precisely. Sigh, where

[2020-08-26 22:07] iglesiasmarianod commented on #103
Great Andrey!
What do you think about writing 0 brightness with the shutdown script and
writing previous brightness at menu startup?
Would that impact Uboot backlight settings?
I know it is not the best solution. It would only be a patch.

On Wed, Aug 26, 2020, 7:00 PM Andrey Lebedev <notifications@github.com>
wrote:

[2020-08-26 22:14] kedder commented on #103
I'm not a huge fan of that, because one day the screen will simply not turn on (for whatever reason). I'd rather live with the screen that does not turn off on shutdown. But I still think this can be fixed or worked around somehow.

[2020-08-26 22:16] iglesiasmarianod commented on #103
You are right.  I didn't think about that.

[2020-08-27 20:05] kedder commented on #103
Submitted the bug report to linux devs: https://www.spinics.net/lists/linux-pwm/msg13689.html

[2020-09-02 19:12] kedder commented on #103
It looks like we have a fix for this: http://lists.infradead.org/pipermail/linux-arm-kernel/2020-September/597482.html, going to submit a PR soon

[2020-09-03 08:07] #103 closed

[2020-09-03 08:12] linuxianer99 commented on #42
Building Openembedded takes a lot of resources.
Most effective way will be a script which is triggered manual if a release is necessary ...

[2020-09-03 08:12] #42 closed

[2020-10-27 22:47] Blaubart opened #107 "Sensord dosen't send climb rate and pressure value"
I disabled variod because I like to disable vario sound from OpenVario and like to use vario sound from FreeVario. At October the 21th I compiled the image new (git d6368f6102), but sometimes FreeVario dosen't get any climb rate. Sometimes it take a couple seconds and OpenVario sends climb rate to the Freevario. I adjust TCP port 4353 at NMEA Devices.

[2020-10-28 08:47] kedder commented on #107
Did you compile `-testing` variant or stable? What version of sensord did you get?

[2020-10-28 13:19] Blaubart commented on #107
I compiled testing variant. How do I figure out which version of sensor is installed?

[2020-10-28 17:00] kedder commented on #107
The version of sendord is displayed in "system info" page in the menu.

We did some changes to the sensord recently, but they are only applied to the -testing version of the image. Can you also build the stable version and check if you are still experience the problem?

How hard is it to reproduce the problem?

[2020-10-28 17:22] Blaubart commented on #107
Version of sensord is git-r9. I will test stable, too. I think it is easy to reproduce. Download the image from www.FreeVario.de and you should have the same error

[2020-10-28 22:58] Blaubart commented on #107
I don't have the problem with the stable version

[2020-10-29 20:11] kedder commented on #107
Ok, I'll try to repro myself. If not, I'll give you couple of binaries to try.

[2020-11-02 19:29] kedder commented on #107
It looks like this is a regression after https://github.com/Openvario/sensord/pull/25

[2020-11-10 16:12] iglesiasmarianod opened #109 "Menu proposal"
Hi guys, It's been a while since I last wrote.
I've been thinking about upgrading OpenVario menu for some time now.
I've been playing with LVGL and made the example work in OpenVario.
https://lvgl.io/
It will give us a C interface with many widgets already usable.
I used Linux framebuffer to run the example in the Linux terminal.
I'm now working on the drivers to achieve screen rotation.
LVGL uses

[2020-11-10 16:20] kedder commented on #109
I was considering GUI for the menu, but decided to go with simple text interface instead, since it is easier to develop and maintain. So I ended up with implementing [openvario-shell](https://github.com/kedder/openvario-shell) in python. It is pretty usable already, but lacks any fancy graphics, obviously.

[2020-11-10 16:37] iglesiasmarianod commented on #109
Hi @kedder. Thanks for your thoughts. Your menu looks great.
One of the reasons I'm thinking about this is to include some way of controling the .conf files without a text editor.
If we can change values that way we can have a vario gain setting you can modify without editing variod.conf with a text editor.
I wasn't able to find a way of doing this using dialog.

[2020-11-10 16:39] kedder commented on #109
That should be pretty easily doable in python in openvario-shell. That's on my todo list, but now I'm busy implementing tools to set up wifi connection.

[2020-11-11 07:41] bomilkar commented on #109
I agree with @kedder :  we don't need fancy graphics. And I personally find there is nothing wrong with a text editor to change configurations as long as the S/W which uses this configuration file is robust enough to deal (and flag) miss-configurations.
There are more pressing issues: WiFi connect, multi-pilot configuration, porting to other platform(s), etc.
I'm very happy with kedder's openvario

[2021-01-01 18:42] hpmax commented on #107
Please see [https://github.com/Openvario/sensord/issues/28](url)

[2021-01-03 01:21] Blaubart opened #110 "error because of 0007-Disable-touch-screen-auto-detection.patch"
Since yesterday I'm not able to compile the OV-Image, because of 0007-Disable-touch-screen-auto-detection.patch
It seems that path has changed from:
/src/event/poll/libinput/LibInputHandler.hpp
to:
/src/ui/event/poll/libinput/LibInputHandler.hpp

[code]

0001-Adapted-Flags-for-compiler-and-linker-for-cross-comp.patch and 0001-Disable-warnings-as-errors.patch results in a couple of hunks.

[2021-01-08 22:17] #110 closed

[2021-01-13 22:26] #107 closed

[2021-01-15 14:26] glidero opened #114 "Missing font"
Hello,
ovmenu-ng.sh (for CH070 and PQ070) refers, on line 387, to font: "ter-124b.psf.gz".
This font is missing in \usr\share\consolefonts after compilation.
On image 17119 there is a whole family of these Terminal (ter-) fonts.
Perhaps not a problem for CH070 and PQ070 users. On displays with higher resolution, however, the shell font size is very small.
After adding this font to appropriate fold

[2021-02-05 08:41] glidero commented on #114
I do reply to myself :-) Solution of missing font - have found 3 fonts with appropriate size for 1280x800 resolution, they are already in /usr/share/consolefonts after compilation. These fonts are:
1. iso01-12x22.psfu.gz
2. LatGrkCyr-12x22.psfu.gz
3. sun12x22.psfu.gz
Best looking is Nr. 2 - LatGrkCyr-12x22.psfu.gz. Will do PR with edited "ovmenu-ng.sh" for AM070-DS2 machine.

[2021-02-09 06:27] glidero opened #120 "Voltage indicator"
Hello,
the battery voltage indicator is not working in "stable" image version. But it does work fine in the testing one.
The voltage_config parameter was set the same in sensord.conf file. Tried on recent images 21038 (both compiled on 06.02.2021).

[2021-02-19 15:37] hpmax commented on #120
Can you try to determine what the issue here is?

If the voltage isn't working it's likely the voltage_config in /opt/conf/sensord.conf is wrong, please see the following:
#voltage_config 736.0          # Use this for ADS1100
voltage_config 1248.6 0.645 # Use this for ADS1110

The # line is commented out.
The first number is a gain, the second number is an offset.  Older versions of sensord.conf f

[2021-02-19 15:40] hpmax commented on #53
How was this resolved (or was it?)  I can update variod if needed.

[2021-02-19 16:55] bomilkar commented on #53
I implemented the changes on the XCSoar side: https://github.com/XCSoar/XCSoar/pull/378
I guess nothing happened on the variod side. A quick look in the code confirms: the memory leak is still in there today. Probably the other weak stuff, too.
After all I gave up pushing the rope....

[2021-02-19 17:01] hpmax commented on #53
@bomilkar Could you clarify about the memory leak, if it's in variod or sensord I'll fix it if you can point it out to me.

[2021-02-19 17:19] bomilkar commented on #53
Count the number of malloc() vs. the number of free() in nmea_parser.c .
Then see what happens it it receives the "beginning of line" sign "$". Nothing ... How can it recover from getting out of sync with the sender? By luck, not by design.
If I recall right it can happen, that it receives multiple sentences from sensord even to the extent that the last sentence it cut off at the end of the buffer

[2021-02-19 20:41] hpmax commented on #53
@bomilkar That is bizarre.  I don't even understand why they are doing any mallocs.  I'll fix it up this weekend.

[2021-02-20 09:27] bomilkar commented on #53
@hpmax indeed bizarre. No need to malloc() at all here.

On the XCSoar side is implemented what is documented in here:
https://www.openvario.org/doku.php?id=projects:series_00:software:nmea

In addition, I implemented an NMEA sentence to XCSoar which triggers XCSoar to send the requested information. Documented here:
[Extension of NMEA Protocol.pdf](https://github.com/Openvario/meta-openvario/file

[2021-02-20 19:51] #114 closed

[2021-02-21 16:15] glidero commented on #120
Thanks Dan,
I haven't mentioned that in first post, but I've tried both settings, for ADS1100 and ADS1110 (by commenting the line).
But this is only on testing, red, image. On normal, blue one, there is only 1 option in sensord - old one, without offset.
On my devices, voltage_config values varies from 1160 to 1200.
Last time I noticed another odd thing. On testing image, where the voltage indicat

[2021-02-21 17:20] hpmax commented on #120
Apparently half the OV users are named Dan or Daniel.... This is getting confusing.

I added the offset term because it's impossible to get an accurate reading without it.  It won't be dramatically off, but it will be off by a couple hundred mV.  I just looked at it, and noticed also that I'm missing the the battery voltage, but what's weird is that there seems to be a properly constructed voltage

[2021-02-21 18:36] DanD222 commented on #120
Regarding QNH - you need to set it manually in the Flight Setup menu (or by clicking on the Baro altitude infobox)

You can also check the sentences XCSoar is receiving from a particular device under Devices / Monitor

[2021-02-21 18:58] hpmax commented on #120
@DanD222 The weird thing is in the past I've seen it come up automatically.  I don't know where it was getting the information though.  And yes, I did check the sentences, I was getting baro pressure, IAS, voltage, and rate info and they all looked good as described above.

[2021-02-21 20:53] hpmax commented on #120
I did some playing with it.  The problem is NOT the '+' sign.  When I manually set my QNH it worked, I got baro altitude back.  I did recently reload the image, and switched from XCSoar 7 to XCSoar 6.8.  I'm wondering if both the QNH and battery voltage are related to that, or if perhaps the default config between the two images was different.  I can't find anything wrong with sensord or variod an

[2021-02-22 16:16] Scumi opened #123 "LXNAV S10 communication issues"
I have some issues with the connection of my LXNAV S10 variometer and XCSoar on the Openvario.

1. After booting both devices, the S10 does not send its $PLXVx-sentences, which means some data (OAT and air data for example) doesn't get transferred. After hitting "reconnect" in the Devices-menu OR connecting the S10 in parallel to an Android smartphone with XCSoar running, it starts working.
2. I c

[2021-02-22 16:53] kedder commented on #123
What version of XCsoar are you using on OV and on your Android? Does the issue 1 depend on what device boots first?

[2021-02-22 17:05] Scumi commented on #123
Testing version (although from various commits).
- Android: preview14 (#1ae852f937)
- Linux Laptop: master
- OV: various, currently #d50b9e442f

No difference for booting order of OV/S10.

[2021-02-22 17:18] kedder commented on #123
So, you are not receiving any $PLXV* sentences on OV initially? Do you receive any NMEA traffic from S10 at all?

[2021-02-22 17:49] Scumi commented on #123
Yes, exactly.
GPS and $LXWP* NMEA sentences are coming through.

[2021-02-22 21:18] kedder commented on #123
TBH I can't come up with recipe here. Try to figure out if the NMEA sentences are actually emitted by S10 over the serial port. I don't believe XCSoar would filter some particular sentences out. Most likely the signal isn't being emitted from S10.

[2021-03-07 14:19] Scumi commented on #123
When I intercept the data stream in Linux without XCSoar running, I do not see the "missing" sentences. They start to be emitted once XCSoar correctly connects to the device, which is somehow not happening by default on the Openvario image. After re-connecting, $PLXV* are transmitted, but uploading a task still fails (so its probably a separate issue).
Generally, issues with the LXNAV S8x/S10x dev

[2021-03-11 07:06] schonstudent commented on #64
Would be also cool to have a "Norton Commander" in standard available - maybe accessing from the starting menu
-> to delete easily flights, old maps etc

[2021-03-11 09:48] phorward commented on #64
Hello @schonstudent thank you for your comment. I try to respect this, maybe in a separate issue.
I'll soon have my OpenVario device running, then I will finally start to work on this issue.

[2021-03-26 17:31] DanD222 commented on #39
This has now been addresded in https://github.com/XCSoar/XCSoar/issues/552 via d3ea258340d49b9cdf3be2bce34229321401cd61

I for one am happy with the solution.

(v7 has also become the main release and v6.8 is being abandoned)

[2021-03-26 20:54] kedder commented on #39
Awesome! Preparing a PR to switch openvario-stable to 7.0.

[2021-03-26 21:19] kedder commented on #120
Should get fixed after upgrade to newly released 7.0 in #127

[2021-04-06 08:09] #39 closed

[2021-04-06 08:09] #120 closed

[2021-04-10 17:11] Scumi opened #128 "Running docker fails"
I cannot setup a new build environment currently.

When trying do run the docker container with the command given in the readme, I get the following error messages:
`sudo: unknown user: pokyuser
sudo: unable to initialize policy plugin`

Does anyone have similar issues?

[2021-04-11 09:49] Scumi commented on #128
If I omit the workdir setting (see below), I can get into the container. I have to manually navigate to the folder, but that's not an issue.

`$ sudo docker run -it --rm -v $(pwd):/workdir linuxianer99/ovbuild`

However, now `libtool-native-2.4.6-r0 do_populate_sysroot` fails due to "operation not permitted".

[code]

[2021-04-18 19:01] kedder opened #130 "Release new official image"
It's been a while since we released the official image. I suggest cutting a new release, after new XCSoar 7 was released.

[2021-04-20 09:06] linuxianer99 commented on #130
@kedder : Will try to manage this in the next few days ...

[2021-04-24 13:23] h4ckerle opened #131 "Undocumented Keyboard Shortcuts"
Whilst trying to build a [Dual Rotary Encoder with Pushbuttons](https://www.openvario.org/doku.php?id=projects:series_00:electrical_tests:dual_rotary_encoder) i came across some undocumented Keyboard Shortcuts which are seemingly not doing anything. In the Script i downloaded there are Shortcuts for things like _t_, _z_, _x_, _p_, _o_, _i_, _q_. Is there a list of all available Keyboard Shortcuts?

[2021-04-24 15:36] kedder commented on #131
Are you talking about shortcuts of XCoar? Where have you found them?

[2021-04-24 17:41] Developer66 commented on #97
+1

[2021-04-27 15:18] hpmax commented on #130
How is this coming?  Is a CH070 image available yet?

[2021-04-27 19:01] linuxianer99 commented on #130
Created some scripts for automation the last few days ...
Hopefully tomorrow i can start the build ...

[2021-04-28 06:51] linuxianer99 commented on #130
Builds are running ...
Think we don't need -DS2 images at the moment ?? It will double the build time for release ...

[2021-04-28 08:57] Developer66 commented on #130
Is there any fix for issue  #97 in the new version?

We have two Stelfy with 201903 in different planes with the same vario behaviour. Several Variopeeks with +-5m/s while flying.

[2021-04-28 10:51] linuxianer99 commented on #130
@kedder : variod and sensord have no new release right now.
So the stable image will have the already released versions, but the testing image has the bleeding edge version.

Think this is intentional, right ??

[2021-04-28 10:53] kedder commented on #130
well, yes, I think those bleeding edge versions were never actually tested, so I'd expect them in the testing version. Hopefully more people will try them out.

[2021-04-28 11:51] h4ckerle commented on #131
Thanks, ill have a look there.

[2021-04-28 11:51] #131 closed

[2021-04-28 13:06] hpmax commented on #130
@Developer66 I honestly don't remember exactly what was going on with that, I know that running Version 6.x of xcsoar had issues.  I believe the latest versions of variod and sensord are working as well as they are going to before the new hardware is introduced.

[2021-04-28 13:17] Developer66 commented on #130
@hpmax I also dont know whats going on/wrong. We had these Vario Peeks while flying straight or in thermal. The Vario jumps to +-5m/s and goes back to a normal value. Tested on two Stefly on differnt planes with same software.
So there must be some Software issue with that. ;(

[2021-04-29 00:36] hpmax commented on #130
@Developer66 Honestly, I've lost interest in the old hardware.  I'm just starting development of software for the new software.  Let's try out the new release and if it's working call it a day, otherwise I'll try to hack together a fix.

@linuxianer99 it looks like the new release is out, but no images... will they be coming shortly?

[2021-04-29 05:57] linuxianer99 commented on #130
@hpmax : Please be patient ... Yesterday, kernel.org download have been failed ... Server not reachable ..

[2021-04-29 16:54] linuxianer99 commented on #130
@kedder : Built the openvario-7-PQ070 machine an hour ago. Both images have only 7,5MB ... openvario-7-CH070 has about 80MB. Content seems to be 1,2GB in both cases ....
But looks strange to me ... any idea ??

[2021-04-29 17:30] hpmax commented on #130
BTW, is there any reason why the file space is so small?  SD cards are pretty cheap these days.  In fact, I don't think cards are typically less than 16GB.  Doesn't seem like an unreasonable requirement to put on it.

[2021-04-29 18:16] kedder commented on #130
@linuxianer99 hm, I'm not sure, but I noticed that when I build an image without any changes on the same day, I have this almost empty image. Not sure if that's the case here too, but you can try rebuilding `openvario-7-CH070`. If you get the 7.5MB image, then you're hitting the same thing.

@hpmax there is no requirement, there's just nothing to put on the image. The normal image size should be a

[2021-04-30 16:37] linuxianer99 commented on #130
@kedder : I build all machines in seperate build folders. Just to avoid such problems ... Hmmm ....
Will delete the folder and try again ...

[2021-04-30 20:22] palomba01 opened #132 "Openvario on Cubietruck (dri device error)"
I'm testing the openvario on a cubieboard3 (Cubietruck), but after the openvario background on boot it appears the following error:
"Exiting...
Using DRI device /dev/dri/card0 (use environment variable DRI_DEVICE to override"
Any tips for fixing this error?

[2021-05-04 22:32] hpmax commented on #130
Not to obnoxious or pushy, but has there been any progress?

[2021-05-05 06:12] linuxianer99 commented on #130
Still have the problem with the small image file size...
Tried a lot of things now ...

Nevertheless, is published the release and added the artifacts, which are looking good ... Rest will follow ..

[2021-05-23 01:10] hpmax opened #134 "ttyUSB0 missing"
I have a photo of my OV running in an older release and connected to /dev/ttyUSB0 for my FLARM (it's a SoftRF).  However when I run 21118 release on the exact same hardware I do not see /dev/ttyUSB0.  I could have sworn there was a previous discussion (which I can't find) in which this had to be turned on in the configuration (i.e. it's compiled into the kernel).

[2021-05-23 20:12] kedder commented on #134
Hm, can you take a look what happens in logs when you connect your device?

E.g. run `journalctl -f` and plug the device into the usb port. What gets printed?

[2021-05-23 22:13] hpmax commented on #134
Unfortunately, I'm using my backup/development hardware, and the SoftRF/FLARM on /dev/ttyUSB0 is in my glider.  I can't access it until next weekend.  Running journalctl -f only seems to show i2c errors related to sensord and variod (note that I do not have a sensorboard plugged in, so this is kind of expected).

As a side note...  I configured everything on my development board and then took the

[2021-05-27 14:59] Developer66 commented on #130
Anything new about the openvario-57-lvds release?
Thanks

[2021-05-29 16:05] phorward opened #136 "XCSoar occasionally says: OpenVario on TCP port 4352 not connected"
Hello!

I've downloaded the latest 20193 release for my OpenVario with 5,7" display and now recognize a strange behavior: The OpenVario device occasionally is found in XCSoar and runs immediately and with vario sound out of the box, but in most times when I start the computer, it states "Not connected" as you can seen from the photo here:
![photo5877657762870180336](https://user-images.githubuserc

[2021-05-30 16:48] linuxianer99 commented on #130
@Developer66 : I tried again ... But the image is still only 6MB of size.
Nevertheless, can you please try flashing it ?? But be prepared to remove the SDCard ;-)

Thanks,
Timo
[OpenVario-linux-openvario-image-glibc-ipk-21118-openvario-57-lvds.rootfs.img.gz](https://github.com/Openvario/meta-openvario/files/6566552/OpenVario-linux-openvario-image-glibc-ipk-21118-openvario-57-lvds.rootfs.img.gz)

[2021-06-01 00:09] hpmax commented on #134
https://pastebin.com/hkyzsfLT

I saw no mention of ttyUSB0.  Like I said, I could have sworn that someone (probably you) had to do something to the configuration of the kernel to enable it.  The device is a SoftRF (TTGO T-Beam)...  It's always possible something is wrong, it's under the seatpan so not easy for me to get to it, however...  it's powered by USB and it starts a webserver so it is pres

[2021-06-03 11:36] Blaubart commented on #89
Could this solve the problem?
https://github.com/XCSoar/XCSoar/issues/625

[2021-06-03 12:08] kedder commented on #89
Yes, it might!

[2021-06-05 05:56] hpmax commented on #134
Anything else I can get that would help?

[2021-06-07 09:11] Developer66 commented on #130
Unfortunately the file did not work :(
@linuxianer99

[2021-06-11 02:11] hpmax commented on #134
I found this, which seems relevant:

https://forum.openwrt.org/t/solved-dev-ttyusb0-where-is-it/17652

[2021-06-11 05:38] kedder commented on #134
@hpmax The only way to debug it I know is to look at the logs when you insert the USB device. Run `journalctl -f` and see what it outputs. Look at the logs on your laptop (where your USB device works), then at the logs on your OV and compare. Usually there will be an error message that would lead to the reason why it doesn't work.

[2021-06-11 06:55] hpmax commented on #134
I posted the journalctl -f log as requested 10 days ago.  There does not appear to be any entry relevant to the device on the OV.  I can try plugging it into the laptop next time I go to the glider.  However, I believe the issue is a missing module as described in my post from 5 hours ago.  I'd like to point out, it worked fine on a previous CH070 release, so it is almost certainly a software issu

[2021-06-11 07:03] kedder commented on #134
There is something called "Arduino Leonardo" - is it the device you miss?

[code]

[2021-06-11 14:07] hpmax commented on #134
Unfortunately, I don't know for sure, but I doubt it.  I have two USB hubs installed, one at the OV, and one under my seatpan.  The T-Beam/SoftRF is also under the seatpan and connected to that hub, along with a Bluetooth dongle.  Everything else (including the hub under the seatpan, a GPS, a WiFi dongle, the stick remote, and the rotary encoder) are plugged into the hub attached to OV or the OV i

[2021-06-11 14:35] kedder commented on #134
Are you hubs powered? Because device could not work because OV USB is not powerful enough to power all the devices you have attached.

[2021-06-11 15:33] hpmax commented on #134
The hub that the SoftRF and Bluetooth dongle are connected to is powered.   I have a USB power meter and can measure power consumption on my development setup.  The development setup has a similar (same chipset) WiFi dongle, a similar GPS (same chipset), keyboard, and mouse (as opposed to stick remote and rotary encoder).  According to my USB power consumption meter, I am pulling 170mA max out of

[2021-06-15 01:55] hpmax commented on #134
I didn't get out to the field but I ordered a newer version of it.  Hopefully should arrive within 1-2 weeks and will be able to more thoroughly test it.

[2021-06-23 18:04] hpmax commented on #134
I tried plugging the hub into my laptop and running journalctl -f, this is what I recorded:

[https://pastebin.com/p4BmqGEq](url)

I think this was the remote stick, a Bluetooth Dongle and the SoftRF device.  I didn't notice anything in the log that looked like the device, just the "keyboard."  Without pulling the seatpan there isn't much more I can do.  I have a slightly newer version on order an

[2021-06-23 18:06] kedder commented on #134
What does `lsusb` say when the device is inserted and when it is not?

[2021-06-23 18:11] hpmax commented on #134
Don't know...  The plane is back at the airport, about 70 minutes away from me.  I normally only go out on the weekends if the weather is good, might not be out again until next weekend.  Is there anything else you want me to try while I'm there?  It's a lot easier/faster for me to do everything all at once than one thing at a time.  Once I get the new version it, I'll have it on me and it will be

[2021-06-23 18:29] kedder commented on #134
I can't really tell you what buttons to press. All I can do is to give you some ideas that would help you diagnose the problem.  It is an iterative process. You gradually narrow down the area where the problem could be until you can spot the problem. Set up an experiment, analyze the result, set up another experiment based on therse result, analyze the result and so on. If we can do only one exper

[2021-06-23 18:44] CazYokoyama commented on #134
Is USB serial device is enabled on Linux kernel config file, .config, especially cp2102? I may be suggesting irrelevant because I have not read all messages here. To find whether SoftRF (TTGO T-Beam) is detected by kernel, you may run the command, dmesg. When it is detected, dmesg has the message which tells you "it  is in USB XXXX and detected as /dev/ttyUSBn".

[2021-06-23 22:32] hpmax commented on #134
I suspect you are 100% dead-on here.  I do recall someone specifically having to change the kernel configuration to support /dev/ttyUSB0.

@kedder can you look into this?

[2021-06-24 00:17] CazYokoyama commented on #134
My hypothesis is irrelevant.

TTGO T-Beam's USB serial device is CP2104 as below.

[3741936.473355] usb 1-11: Product: CP2104 USB to UART Bridge Controller

Its device ID is
Bus 001 Device 050: ID 10c4:ea60 Silicon Labs CP210x UART Bridge

meta-openvario/recipes-kernel/linux/linux-mainline/arm/defconfig has
CONFIG_USB_SERIAL_CP210X=m

and its kernel source code,  build/tmp/work/openvario_7_CH070-o

[2021-06-24 01:50] hpmax commented on #134
If I do a ls /dev/ttyUSB* from the command line,  nothing shows up.  Again, to reiterate, at some point in the past,  it was working on an identical hardware configuration (but not software).  I have a photo showing not just the the Device Config of FLARM on ttyUSB0, but that it had a GPS fix...

[2021-06-24 02:04] hpmax commented on #134
https://pasteboard.co/K81t8zn.jpg

[2021-06-24 13:18] CazYokoyama commented on #134
@hpmax , I built the latest code and found corresponding kernel module, cp210x.ko is built. Could you run the following commands from the command line?

ls -l /lib/modules/`uname -r`/kernel/drivers/usb/serial/cp*
lsmod | grep cp

If they have cp210x, kernel detects SoftRF.

[2021-06-24 16:06] hpmax commented on #134
When I do the ls, I get:
-rw-r--r--    1 root     root         35256 Apr 28 08:48 cp210x.ko

When I do the lsmod | grep cp, I get:
cpufreq_dt             16384  0

So file is there, module isn't loaded?

[2021-06-24 16:15] CazYokoyama commented on #134
@hpmax , correct. There are following several reasons why the module is not loaded.

1. USB of OpenVario is not active - probably NO. You can attach USB flash memory, correct?
2. disable loading cp210x module explicitly - Nobody wants.

Could you show your dmesg?

[2021-06-24 16:39] hpmax commented on #134
dmesg:

https://pastebin.com/aPN7mfji

I haven't tried using USB flash memory.  USB definitely works, as I am talking to the device via a USB WiFi dongle.

Is there a way to manually load the cp210x module?  I tried:
insmod /lib/modules/5.7.0/kernel/drivers/usb/serial/cp210x.ko
insmod: ERROR: could not insert module /lib/modules/5.7.0/kernel/drivers/usb/serial/cp210x.ko: Unknown symbol in module..

[2021-06-24 17:42] CazYokoyama commented on #134
Now its root cause is clear, i.e. Linux kernel has missing module for cp210x.ko, probably usbserial.ko or similar name.

[2021-06-24 19:09] hpmax commented on #134
@CazYokoyama Maybe... maybe, not?

I tried: "modprobe cp210x" and it seemed to work?

"lsmod | grep cp" now reports:
cp210x                 24576  0
usbserial              28672  1 cp210x
cpufreq_dt             16384  0

I tried plugging a device in that I thought had a cp210x in, but it seemed to recognize it as a USB HID.  I will try again once I get the new SoftRF board I ordered.  Hopefully sh

[2021-06-24 19:38] CazYokoyama commented on #134
No, the root cause is not missing module, usbserial.ko. It is no auto kernel module load mechanism for cp210x.ko.

BTW, I tested with fairly new t-beam 1.1 which has sx1262. I don't expect any change with your will-arrive t-beam.

[2021-06-24 20:42] hpmax commented on #134
I ordered an SX1262 TBeam, hopefully should get it in the next couple days.

So you think modprobe cp210x fixed the problem?  I just need to create an /etc/ modules files to tell it to load cp210x?

[2021-06-24 21:57] CazYokoyama commented on #134
Yes, run modprobe cp210x by some way. The best is autoload such as CentOS does.

[2021-06-24 22:26] hpmax commented on #134
@CazYokoyama Cool, once I get the new T-Beam in,  I'll play with it and see if I can replicate it and setup autoloading...

Have you found it to be an effective FLARM substitute.  I don't think we have many FLARM users in my club.   However,  I connected to my Stratux European Edition which sees ADSB as FLARM, and I think it warned of a collision with the tow plane while behind it.

[2021-06-25 06:47] hpmax commented on #134
I created a file called /etc/modules-load.d/cp210x.conf that simply contained: "cp210x"

This appears to automatically load the module on startup.  Once I get access to a T-Beam, I'll confirm it works and close the ticket.  I guess a question is, do we want to change the default configuration?  If it doesn't get changed by default, I'm quite sure this issue will come up again at some point.

[2021-06-26 20:47] hpmax commented on #134
I can now confirm that the /etc/modules-load.d/cp210x.conf file fixes the issue, as per my last post.

Does anyone have any comments about officially modifying the default distribution to avoid this problem rather than make users go in and add the file on a case by case basis? @kedder @linuxianer99

[2021-06-26 21:24] kedder commented on #134
This seems like a workaround rather than a fix. We should not force loading the module for users that have no such device.  Normally the module is loaded automatically when device is attached.

[2021-06-27 01:00] hpmax commented on #134
So, why do you believe it's not loading automatically?  How does it know to do that?

[2021-06-27 06:03] kedder commented on #134
I was hoping to get some clue from the logs that are being written when you insert the device into the USB socket. Usually the logs give an idea what's happening.

Watch the logs, insert the device, look at what is being printed at that moment.

[2021-06-27 18:43] hpmax commented on #134
Here's the log:

https://pastebin.com/pp21iWeB

Unfortunately (or fortunately?), I can no longer replicate the problem.  I deleted cp210x.conf from /etc/modules-load.d, and rebooted.  I do: "lsmod | grep cp2" and get nothing.  Then I plug in the device and do "lsmod | grep cp2" and get:
"cp210x                 24576  0
usbserial              28672  1 cp210x"

So, it is now properly autoloading the

[2021-06-27 20:47] kedder commented on #134
Yeah, the log seem to indicate everything worked as expected - device is detected and module is loaded. I don't think manual loading does anything to make the module "loadable". There was probably some other reason behind device not working. If you get this situation again, try looking at the logs the same way - there should be a reason written out.

[2021-06-28 05:05] hpmax commented on #134
@CazYokoyama Since you have a T-Beam, can you confirm the same issue I had?  CP210x not recognized until you modprobe it, and then after that it recognizes it every time?

[2021-06-28 12:36] CazYokoyama commented on #134
----
Agree. Something suppresses auto-loading of  cp210x.ko.

[2021-06-28 12:40] CazYokoyama commented on #134
My OpenVario hardware is in attic, i.e. it is for development of software, not for my glider. Sorry,

Do you have another device on USB when you power-on?

[2021-06-28 12:47] hpmax commented on #134
@CazYokoyama I'm using development hardware too, however, in the plane I'd have the remote stick, the rotary encoder board, a GPS dongle and a BT dongle and a WiFi dongle.  At home I would always have WiFi.  I might have a keyboard, mouse, and GPS plugged in.

It's very weird that the problem seems to have permanently gone away after putting cp210x in the /etc/load-modules.d directory, even after

[2021-07-01 11:56] sfalmo commented on #136
What sensorboard do you use? I have seen this problem only once about two weeks ago with a SteFly 5.7'' running on 20193 stable. But I did not think much of it since it did not occur again in the numerous times I have used it.

This could be a pain to debug, but if you can reproduce it frequently, maybe take a look at some of the logs.
I personally don't think it is XCSoars fault, but you can stil

[2021-07-08 12:35] phorward commented on #136
Hello @sfalmo, thanks for your reply.

Well, I think it's gonna be a huger problem with my hardware. Its not a SteFly, I ordered it used somewhere. Two weeks ago, when it was very warm outside, my OpenVario froze like shown below entirely for about 5 times during flight. I restarted it several times and it froze again occasionally after two minutes or so. I think there is something generall wrong

[2021-07-08 12:39] phorward commented on #109
@kedder are there plans to include openvario-shell into the standard openvario distribution?

[2021-07-08 12:42] phorward commented on #136
I'll gonna close this issue here for now, as I don't think it is a problem with XCSoar or the OpenVario software stack.
Is there any kind of forum or mailing list to discuss about OpenVario issues in general?

[2021-07-08 12:42] #136 closed

[2021-07-08 13:17] kedder commented on #109
@phorward yes, but I need to make few adjustments to make it more usable by a wider population. Apparently the current way of moving files to/from openvario is not very clear to most people: I have to explain it every time someone tries to upload a waypoint file to XCSoar.

Otherwise I have a bitbake recipe to build an [image with openvario-shell](https://github.com/kedder/openvario-ppa/blob/maste

[2021-08-23 18:28] IP-Bart opened #137 "Extremely high altitude in XCSoar (rel 21118 for Openvario)"
Hi,
after installing a new release of Openvario image (testing ver 21118) my XCSoar notice very high altitude (ie. 44000 m (145600 ft)).
All the other indications look normal.
Any idea?

[2021-08-27 12:56] Scumi opened #138 "update environment"
XCSoar has gotten some updates in the last few days, now requiring GCC >10.0 and lua5.4 (potentially others as well). The openvario build environment currently fails to build XCSoar unless those dependencies are updated.

[2021-08-29 09:32] kedder commented on #138
I'm trying to upgrade the build environment to yocto "hardknott" release (latest one) to see what happens.

[2021-08-29 10:17] linuxianer99 commented on #138
@kedder :
Good thing!! Maybe that solves also the build issue with the failing images ....

[2021-08-30 20:49] hor63 commented on #132
Check if /dev/dri/card1 existists. If not you do not have a working Lima driver compiled in your kernel or loaded.
Check journalctl and dmesg for "lima", if messages exist, and if there are any errors upon loading.
If it exists try:
`DRI_DEVICE=/dev/dri/card1 -xcsoar`

[2021-09-10 19:06] kedder commented on #138
Some status update on this effort: I'm at the stage where everything compiles, but the image does not boot. The old u-boot does not compile under new environment and newer u-boot needs to be reconfigured.  This is what I'm working on.

[2021-09-17 14:46] hor63 commented on #138
@kedder I had the same problem with my Ubuntu based BSP here. I just created a new config from the cubieboard 2 defconfig, and it worked OOTB.
Or take it [from my BSP here](https://github.com/hor63/horOpenVario/tree/mainline-debootstrap/build/u-boot).

[2021-09-17 18:22] kedder commented on #138
I've got the system booting, xcsoar seems to be working. The main problem left is that the boot process is not pretty: u-boot outputs a lot of logs. I want to make it prettier by hiding it behind the splash screen, but couple of different things I tried didn't work.

That said, interesting project you've got there!

[2021-10-07 08:58] lordfolken opened #139 "Maps Checksums invalid during build"
https://github.com/Openvario/meta-openvario/blob/57ccb1bf533e275be7cd561254633a93316639c4/recipes-apps/xcsoar/xcsoar-maps-alps_0.1.bb#L20
The maps get now updated regularly. So hardcoding the checksums here will fail. Can you source a checksum's file ? I could create one.

[2021-11-06 14:00] Blaubart commented on #138
Any news about compiling XCSoar?

[2021-11-06 14:05] lordfolken commented on #138
Yes i'd also be interested.  I would love to integrate the openvario build in the regular build chains we use for debugging etc. I can provide knowledge in github actions, containers and even build infrastructure.

The container build is already a good start. But we need a new compiler. There also have been some dependenciy changes in xcsoar, have a look at:
https://github.com/XCSoar/XCSoar/blob/m

[2021-11-06 14:06] lordfolken commented on #138
Also adding kedders openvario menu / compman would be excellent.

[2021-11-06 14:07] lordfolken commented on #138
Maybe taking the ubuntu ( i would prefeer debian) approach like @hor63 did would ease the maintenance of the os.

[2021-11-07 14:53] Blaubart commented on #138
If I understand correctly XCSoar 7.15 can be compiled. How can I adjust to compile XCSoar 7.15?

[2021-11-22 13:01] saxthi commented on #130
Anything new about the openvario-57-lvds release?
Thanks

[2021-11-24 18:10] linuxianer99 commented on #139
Hey. Yes, it should be possible to specify a checksum URI [link](http://www.burtonini.com/blog/2017/06/13/dynamic-source-checksums/)

Would be great, if you generate these files for us !!

[2021-11-24 18:12] linuxianer99 commented on #130
Hey All!
I talked to a friend of mine, who is expert in Openembedded and bitbake. He gave me some tipps for this issue. I will try to check these in the next few days ... Hopefully this solves the issue ...

[2021-11-25 10:22] lordfolken commented on #138
I suggest we update the yocto layer to hardknott, i'm currently running tests to that. (hardknott is the latest supported by sunxi)
is pulseaudio still needed? It seems to be now part of poky/hardknott/recipes-multimedia
What is missing still is autofs.
And we have to see what patches are still needed for the kernel